django==4.0.3
django-environ
asgiref==3.4.1
certifi==2020.6.20
chardet==3.0.4
idna==2.10
pytz==2020.1
requests==2.27.1
sqlparse==0.3.1
urllib3==1.26.0
#para menejar images
pillow==9.1.0
#Formularios
django-crispy-forms==1.14.0
#Para postgreSQL
psycopg2==2.9.3

#Python==3.10.1
#pip install request

#reserva
django-widget-tweaks==1.4.8

xhtml2pdf