{% extends 'core/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>
<section class="admin-add-servicios">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>ADD DETALLES PLACES</p>
        </div>
        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field  detPlaceForm.name class="form-control" placeholder="Name" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.descriptions class="form-control" placeholder="descriptions" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.image_one class="form-control" placeholder="image" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.image_two class="form-control" placeholder="image" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.image_three class="form-control" placeholder="image" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.image_four class="form-control" placeholder="image" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.image_five class="form-control" placeholder="image" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.image_six class="form-control" placeholder="image" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.image_recommen class="form-control" placeholder="image" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.recommendation class="form-control" placeholder="recommendations" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.ubicacion class="form-control" placeholder="ubicacion" %}
              </div>
              <div class="form-group">
                {% render_field  detPlaceForm.place class="form-control" placeholder="place" %}
              </div>     
            </div>
          </div>
          <button type="submit" class="btnSubmit">Agregar</button>
        </div>
      </div>
    </div>
  </form>

</section>

{% endblock content %}
