/*

Eatery Cafe Template 

http://www.templatemo.com/tm-515-eatery

*/

  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

  body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }
  
  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h5,h6 {
    font-weight: bold;
    line-height: inherit;
  }
  h4{
    font-size: 40px;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: 50px;
  }

  h2 {
    /*color: #353535;*/
    color: slateblue;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #454545;
  }

  p {
    /*color: #757575;*/
    color: rgb(20, 18, 18);
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }
  /*Link* ver mas*/
  a {
    /*color: #252525;*/
    color: royalblue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: #ce3232;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title h4 {
    color: #0c0707;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
  }
  /*Jerga Pucallpina*/
  .overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /*Secction general*/
  section {
    position: relative;
    padding: 50px 0;
  }

  #team, 
  #menu,
  #jerga {
    text-align: center;
  }

  .about-image img,
  .team-thumb img {
    width: 100%;
  }
  
  #google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
  }



  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: #ce3232;
    border-radius: 0;
    border: 0;
    color: #f9f9f9;
    font-size: inherit;
    font-weight: normal;
    padding: 10px 25px;
    transition: 0.5s 0.2s;
  }



  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
  }

  .custom-navbar .navbar-brand {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
  }

  .custom-navbar .navbar-brand span {
    color: #ce3232;
  }

  .top-nav-collapse {
    background: #ffffff;
  }

  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 28em;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn {
    display: inline-block;
    margin: 0.2em 0 0 1em;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn:hover {
    background: #292929;
    color: #ffffff;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn:focus {
    color: #ffffff;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn a {
    padding: 10px 25px;
  }

  .custom-navbar .nav .section-btn a:hover {
    color: #ffffff;
  }

  .custom-navbar .nav li a {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding-right: 22px;
    
    /*padding-left: 22px;*/
    text-transform: uppercase;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: #ce3232;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #ce3232;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 12px 0;
    }

    .top-nav-collapse .navbar-brand {
      color: #454545;
    }

    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .top-nav-collapse .nav .section-btn a {
      color: #ffffff;
    }
  }



  /*---------------------------------------
      HOME              
  -----------------------------------------*/

  #home {
    padding: 0;
  }

  #home h1 {
    color: #ffffff;
    padding-bottom: 30px;
  }

  #home h3 {
    color: #f9f9f9;
    font-size: 14px;
    line-height: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
  }

  @media (min-width: 768px) {
    .slider .col-md-8 {
      padding-left: 0;
    }
  }

  .slider .owl-dots {
    position: absolute;
    top: 50%;
    right: 2em;
    justify-content: center;
  }

  .owl-theme .owl-dots .owl-dot {
    display: block;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 7px 10px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
    border-color: transparent;
  }

  .slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
    padding: 4em 0 0 2em;
  }

  .slider .item {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }

  .slider .item-first {
    background-image: url(../images/slider1-3.jpg);
  }

  .slider .item-second {
    background-image: url(../images/slider2-2.jpg);
  }

  .slider .item-third {
    background-image: url(../images/slider3.jpg);
  }

  .slider .item-second .section-btn {
    background: #292929;
  }

  .slider .item-second .section-btn:hover {
    background: #ffffff;
  }

  .slider .item-third .section-btn {
    background: transparent;
    border: 1px solid #ffffff;
  }

  .slider .item-third .section-btn:hover,
  .slider .item-third .section-btn:focus {
    background: #ce3232;
    border-color: transparent;
    color: #ffffff;
  }
  /*---------------------------------------
      History Pucallpa             
  -----------------------------------------*/
  /*HISTORY ANTIGUA*/
  #Hist_antigua {
    padding-bottom: 0;
  }

  .H-antigua-info {
    padding: 0 6em 5em 0;
  }

  .H-antigua-info .section-title {
    padding-bottom: 20px;
  }

  .about-image {
    position: absolute;
  }



  /*---------------------------------------
      TEAM              
  -----------------------------------------*/

  #team {
    background: #f9f9f9;
  }

  .team-thumb {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .team-info {
    padding: 10px 30px 20px 30px;
  }

  .team-thumb .team-hover {
    position: absolute;
    background: #1c1c1c;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
  }

  .team-thumb:hover .team-hover {
    opacity: 0.95;
    transition-delay: 0.3s;
    transform: translateY(0);
  }

  .team-thumb img {
    transition: 0.5s 0.2s;
  }

  .team-thumb:hover img {
    transform: scale(1.2);
  }

  .team-thumb .social-icon li a {
    background: #292929;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #d9d9d9;
    font-size: 20px;
    margin: 15px 5px 0 5px;
  }

  .team-thumb .team-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .team-item h4 {
    color: #ffffff;
  }

  .team-info p {
    color: #bfbdbd;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
  }



  /*---------------------------------------
     MENU              
  -----------------------------------------*/

  #menu {
    padding-bottom: 0;
    margin: 2em;
  }

  #menu .container {
    width: 100%;
  }

  #menu .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .menu-thumb img {
    width: 100%;
    transition: 0.5s;
    /* modificado */
    padding:10px ;
  }

  .menu-thumb:hover img {
    transform: scale(1.15);
  }

  #menu .menu-thumb {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 102%;
  }

  .menu-thumb .menu-info {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding: 25px 30px;
    transition: 0.5s 0.2s;
  }

  .menu-info .menu-item {
    float: left;
  }

  .menu-info .menu-price {
    float: right;
  }

  .menu-info .menu-price span {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    display: block;
    margin-top: 10px;
  }

  .menu-thumb .menu-info h3,
  .menu-thumb .menu-info p,
  .menu-thumb .menu-info span {
    transform: translateY(100%);
    opacity: 0;
    display: block;
    transition: 0.5s 0.2s;
    color: #ffffff;
    z-index: 2;
    position: relative;
  }

  .menu-thumb .menu-info h3 {
    margin-top: 0;
  }

  .menu-thumb .menu-info p {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .menu-thumb:hover .menu-info h3,
  .menu-thumb:hover .menu-info p,
  .menu-thumb:hover .menu-info span {
    transform: translateY(0px);
    opacity: 1;
  }

  .menu-thumb:hover .menu-info {
    background: rgba(0,0,0,0.8);
  }



  /*---------------------------------------
      JERGA PUCALLPINA             
  -----------------------------------------*/

  #jerga {
    background: url('../images/testimonial-bg.jpg') center center no-repeat ;
    background-size: cover;
  }

  #jerga .owl-dots {
    position: relative;
    top: 0;
    right: 0;
    justify-content: center;
  }

  #jerga .owl-theme .owl-dots .owl-dot,
  #jerga .owl-theme .owl-dots .owl-dot span {
    display: inline-block;
  }

  #jerga .owl-theme .owl-dots .owl-dot span {
    margin: 20px 5px;
  }

  #jerga h2 {
    color: #ffffff;
  }

  #jerga p,
  .tst-author h4,
  .tst-author span {
    display: inline;
  }

  #jerga p {
    color: #d9d9d9;
    font-size: 20px;
    line-height: 35px;
  }

  .tst-author {
    margin-top: 20px;
  }

  .tst-author h4,
  .tst-author span {
    color: #b2b2b2;
  }

  .tst-author span {
    margin-left: 5px;
  }



  /*---------------------------------------
      CONTACT             
  -----------------------------------------

  #contact .section-title {
    padding-bottom: 0;
  }

  #contact .text-success,
  #contact .text-danger {
    display: none;
  }

  #contact .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
  }

  #contact .form-control:hover,
  #contact .form-control:focus {
    border-bottom-color: #c9c9c9;
  }

  #contact input {
    height: 55px;
  }

  #contact button#cf-submit {
    background: #ce3232;
    border-radius: 0;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
  }

  #contact button#cf-submit:hover {
    background: #292929;
    color: #ffffff;
  }*/

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }


  @media only screen and (max-width: 1200px) {
    .about-info {
      padding-right: 0;
    }

    .about-image {
      position: relative;
    }
  }


  @media only screen and (max-width: 992px) {
    section {
      padding: 60px 0;
    }

    .custom-navbar .section-btn {
      margin-left: 1em;
    }

    .slider .item {
      background-position: center;
    }

    .about-info {
      padding: 0;
    }

    .team-info {
      margin-bottom: 50px;
    }

    #menu .menu-thumb {
      width: 103%;
    }

    #jerga {
      background-position: 50% 0 !important;
    }

    #google-map,
    .footer-info {
      margin-bottom: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #252525;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .custom-navbar .navbar-nav.navbar-right .section-btn {
      display: block !important;
      width: 50%;
      margin: 10px auto 10px auto;
      padding: 10px;
    }

    .custom-navbar .section-btn a {
      color: #ffffff !important;
    }

    .slider .caption {
      padding: 0;
    }

    .menu-thumb .menu-info {
      top: 80%;
    }

    footer {
      padding: 60px 0;
      padding-bottom: 60px;
    }

    .footer-open-hour {
      right: 0;
      bottom: 0;
      margin-top: 30px;
    }
  }


  @media only screen and (max-width: 580px) {
    h1 {
      font-size: 2.1em;
    }

    h2 {
      font-size: 1.8em;
    }

    .menu-thumb .menu-info {
      top: 60%;
    }
  }


  

/*AQUI COMIENZA NUESTRO STYLE*/
@media (max-width: 1000px) {
  .menu-thumb img{ height: auto; }
}

/*banner background*/
#banner{
  background: url('../images/banner-background.jpg') center center no-repeat ;
  background-size: cover;
  padding: 9pc;
}

/*NUESTROS SERVICIOS*/
/*--------------------
  Nuestros Guias
--------------------*/
/* Opiniones de cliente
---------------------*/
.valores-services h3{
margin-bottom: 20px;
}
.iconos-services{
	font-size: 60px;
	color: rgb(13 195 201);
}


.section-wave {
	position: absolute;
	top: 0;
	transform: translateY(-100%);
	width: 100vw;
	line-height: 0;
	will-change: transform;
}

.ie-10 .section-wave,
.ie-11 .section-wave,
.ie-edge .section-wave {
	top: 1px;
}

.section-wave > svg {
	width: 100vw;
	height: auto;
}

.ie-10 .section-wave > svg,
.ie-11 .section-wave > svg,
.ie-edge .section-wave > svg {
	max-height: 45px;
}

.tablet .section-wave > svg,
.mobile .section-wave > svg {
	max-height: 25px;
}

/*section-lg*/
.section-sm,
.section-md,
.section-lg,
.section-custom,
.section-xl,
.section-xxl,
.section-variant-1,
.section-variant-2 {
	padding: 60px 0;
}

.section-lg-top {
	padding-top: 60px;
}

@media (min-width: 768px) {
	.section-md {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	.section-lg,
	.section-custom {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.section-xl {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.section-xxl {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.section-lg-top {
		padding-top: 80px;
	}
	.section-variant-1 {
		padding: 120px 0;
	}
	.section-variant-2 {
		padding: 80px 0;
	}
}

@media (min-width: 992px) {
	.section-xl {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

@media (min-width: 1200px) {
	.section-md {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	
	.section-lg,
	.section-custom {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.breadcrumbs-custom-wrap + .section-lg, .breadcrumbs-custom-wrap + .section-custom {
		padding-top: 100px;
	}
	.section-xl {
		padding-top: 130px;
		padding-bottom: 130px;
	}
	.breadcrumbs-custom-wrap + .section-xl {
		padding-top: 145px;
	}
	.section-xxl {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.section-variant-1 {
		padding: 160px 0 100px;
	}
	.section-variant-2 {
		padding: 120px 0 140px;
	}
}

@media (min-width: 1600px) {
	
	.section-lg,
	.section-custom {
		padding-top: 125px;
		padding-bottom: 125px;
	}
	.section-lg.section-way-point, .section-way-point.section-custom {
		padding-top: 165px;
	}
	.breadcrumbs-custom-wrap + .section-lg, .breadcrumbs-custom-wrap + .section-custom {
		padding-top: 170px;
	}
	.section-lg-alternative {
		padding-top: 130px;
		padding-bottom: 140px;
	}
	.section-xl {
		padding-top: 165px;
		padding-bottom: 165px;
	}
	.breadcrumbs-custom-wrap + .section-xl {
		padding-top: 190px;
	}
	.section-xxl {
		padding-top: 200px;
		padding-bottom: 200px;
	}
	.section-lg-top {
		padding-top: 125px;
	}
	.section-variant-1 {
		padding: 220px 0 140px;
	}
	.section-variant-2 {
		padding: 160px 0;
	}
}

/**
* Background White
*/
.bg-default {
	background-color: #ffffff;
	fill: #ffffff;
}

.bg-default .way-point > svg {
	fill: inherit;
}

.bg-default:not([style*="background-"]) + .bg-default:not([style*="background-"]) {
	padding-top: 0;
}

.bg-default .bg-decoration > svg {
	fill: #ffffff;
}

.bg-default .time-line-vertical-element:before,
.bg-default .time-line-vertical-element .unit-body:before {
	background-color: #ffffff;
}

.bg-default .twitter-feed {
	background-color: #f7f7f7;
}

.bg-default .slider-widget {
	background: #f7f7f7;
}

/*text center*/
.text-center .rd-mailform-small {
	margin-left: auto;
	margin-right: auto;
}

/*container-wide*/
.container-wide {
	margin-left: auto;
	margin-right: auto;
	max-width: 1800px;
}
/*divider*/
.divider {
	display: inline-block;
	border: 0;
	font-size: 0;
	line-height: 0;
	height: 3px;
	max-width: 100px;
	width: 100%;
}
/*divider decorate*/
.divider-decorate:before {
	content: url("../images/divider-decorate.png");
}

/*
*
* Owl Carousel
* --------------------------------------------------
*/
.owl-carousel .animated {
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
	z-index: 0;
}

.owl-carousel .owl-animated-out {
	z-index: 1;
}

.owl-carousel .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
 .owl-height {
	transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
}

@media (min-width: 576px) {
	.owl-carousel-widget {
		width: calc(100% - 70px);
	}
}

.owl-carousel-widget .owl-dots {
	display: none;
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	/* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	user-select: none;
}

.owl-carousel.owl-loaded {
	display: block;
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}

.owl-carousel.owl-hidden {
	opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
	display: none;
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	will-change: transform;
}

.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.owl-carousel.owl-rtl {
	direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
	float: right;
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity 400ms ease;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000;
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	font: 400 40px/80px 'FontAwesome';
	cursor: pointer;
	z-index: 1;
	transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:before {
	content: '\f144';
}

.owl-carousel .owl-video-play-icon:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
}
.owl-carousel.owl-dots-secondary .owl-dot {
	border-color: #ededed;
}

.owl-carousel.owl-dots-secondary .owl-dot:hover, .owl-carousel.owl-dots-secondary .owl-dot.active {
	background-color: #ffa900;
}

.owl-carousel.owl-carousel-light-dots .owl-dot {
	border-color: #ffffff;
}

.owl-carousel.owl-carousel-light-dots .owl-dot:hover, .owl-carousel.owl-carousel-light-dots .owl-dot:focus {
	background-color: #ffffff;
}

.owl-carousel.owl-carousel-light-dots .owl-dot.active {
	background-color: #ffffff;
}

.owl-carousel figure img {
	width: 100%;
}

/**
* Owl Carousel Pricing
*/
@media (min-width: 1600px) {
	.owl-carousel-team .owl-dots {
		display: none;
	}
	.owl-carousel-team .owl-nav {
		display: none;
	}
	[data-x-mode="true"] .owl-carousel-team .owl-dots {
		display: block;
	}
}

.owl-carousel-inset .owl-stage-outer {
	padding: 15px 15px 30px 0;
}
/**
* Posts
*/
.post-blog {
	position: relative;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	border-radius: 8px;
	overflow: hidden;
	text-align: left;
	transition: 450ms ease-in-out;
	color: #29293a;
	will-change: transform;
}

.post-blog-title {
	color: #151515;
}

.post-blog-title:hover {
	color: #ffa900;
}

.post-blog:hover {
	box-shadow: 0 10px 32px rgba(129, 132, 146, 0.14);
}

.post-blog .post-blog-image {
	position: relative;
	min-height: 220px;
}

.post-blog .post-blog-image figure, .post-blog .post-blog-image img {
	min-height: inherit;
}

.post-blog .post-blog-image img {
	width: 100%;
}

@media (min-width: 1600px) {
	.post-blog .post-blog-image {
		min-height: 305px;
	}
}

@supports (object-fit: cover) {
	.post-blog .post-blog-image img {
		width: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.post-blog-caption {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	padding-top: 25px;
	background-color: #ffffff;
}

.post-blog-caption .post-blog-caption-footer {
	margin-top: auto;
}

.post-blog + .post-blog {
	margin-top: 30px;
}

.post-blog-image {
	overflow: hidden;
	border-radius: 8px 8px 0 0;
}

.post-blog-image img {
	transition: 750ms ease-in-out;
}

.post-blog-image:hover img {
	transform: scale3d(1.05, 1.05, 1.05);
}

.post-blog-caption-header,
.post-blog-caption-body,
.post-blog-caption-footer {
	padding-left: 15px;
	padding-right: 15px;
}

.post-blog-caption-body h1, .post-blog-caption-body h2, .post-blog-caption-body h3, .post-blog-caption-body h4, .post-blog-caption-body h5, .post-blog-caption-body h6, .post-blog-caption-body [class^='heading-'] > a {
	display: block;
}

@media (min-width: 576px) {
	.post-blog-caption-header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}

.post-blog-caption-body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.post-blog-caption-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #ededed;
}

.post-blog-caption-footer > * {
	color: #838386;
}

.post-comment > * {
	vertical-align: middle;
}

.post-comment .icon {
	padding-right: 5px;
}

@media (min-width: 992px) {
	.post-blog-caption-header,
	.post-blog-caption-body,
	.post-blog-caption-footer {
		padding-left: 38px;
		padding-right: 38px;
	}
}

@media (min-width: 1800px) {
	.post-blog {
		min-height: 640px;
	}
	.post-blog-caption-body {
		min-height: 200px;
	}
}

.post-blog-meta {
	transform: translateY(-5px);
	margin-bottom: -5px;
	margin-left: -7px;
	text-align: left;
	color: #838386;
}

.post-blog-meta > * {
	display: inline-block;
	margin-top: 5px;
	margin-left: 7px;
}

.post-blog-meta li {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
}

.post-blog-meta li:before {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 24px;
	content: "";
	display: inline-block;
	border-left: 1px solid;
}

.post-blog-meta li:last-of-type:before {
	content: none;
}

.post-blog-meta li a {
	color: #2c20c0;
}

.post-blog-meta li a:hover {
	color: #ffa900;
}

.post-blog-tags {
	margin-left: -7px;
	margin-right: -7px;
}

.post-blog-tags > li {
	display: inline-block;
	padding: 5px 7px;

}

.button-tags {
	display: inline-block;
	padding: 4px 11px;
	border-radius: 20px;
	font: 300 14px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: .04em;
}

.button-tags, .button-tags:focus {
	color: #ffffff;
	background-color: #ffa900;
	border-color: #ffa900;
}

.button-tags:hover, .button-tags:active, .button-tags:hover {
	color: #ffffff;
	background-color: #2c20c0;
	border-color: #2c20c0;
}
/*box minimal*/
.section-wrap .box-minimal {
	width: 100%;
	max-width: none;
}
/*box minimal-border*/
.context-dark .box-minimal-border .box-minimal-text, .bg-gray-darker .box-minimal-border .box-minimal-text, .bg-gray-700 .box-minimal-border .box-minimal-text, .bg-image .box-minimal-border .box-minimal-text, .bg-gradient .box-minimal-border .box-minimal-text, .bg-secondary-2 .box-minimal-border .box-minimal-text {
	opacity: .6;
}
/*big*/
.context-dark .post-blog-article-title, .bg-gray-darker .post-blog-article-title, .bg-gray-700 .post-blog-article-title, .bg-image .post-blog-article-title, .bg-gradient .post-blog-article-title, .bg-secondary-2 .post-blog-article-title,
.context-dark .post-blog-article .big,
.bg-gray-darker .post-blog-article .big,
.bg-gray-700 .post-blog-article .big,
.bg-image .post-blog-article .big,
.bg-gradient .post-blog-article .big,
.bg-secondary-2 .post-blog-article .big {
	color: #ffffff;
}

/*team-clasic-option*/
.team-classic-caption {
	margin-top: 22px;
}

.team-classic-caption * + .button {
	margin-top: 20px;
}

.team-classic-caption * + .list-inline {
	margin-top: 15px;
}
/*team-clasic-tittle*/

.team-classic-title {
	color: #ffa900;
	font-weight: 400;
}

.team-classic-title:hover {
	color: #2c20c0;
}
/*testimotial*/
/**
* Quote boxed
*/
.quote-boxed {
	text-align: left;
	transform: translateY(-20px);
	margin-bottom: -20px;
	margin-left: -30px;
}

.quote-boxed > * {
	display: inline-block;
	margin-top: 20px;
	margin-left: 30px;
}

.quote-boxed-image {
	width: 100px;
	height: auto;
	border-radius: 50%;
}



.quote-boxed-cite {
	font-weight: 400;
	color: #2c20c0;
}

.quote-boxed-small {
	color: #838386;
}

.quote-boxed-meta > * + * {
	margin-top: 0;
}

* + .quote-boxed-meta {
	margin-top: 10px;
}

@media (min-width: 576px) {
	.quote-boxed {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.quote-boxed-aside {
		-ms-flex-negative: 0;
		-webkit-flex-shrink: 0;
		flex-shrink: 0;
	}
	.quote-boxed-main {
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
}

@media (min-width: 768px) {
	.quote-boxed-image {
		width: 160px;
	}
	.quote-boxed-text,
	.quote-boxed-cite {
		font-size: 20px;
		line-height: 1.41667;
	}
	.quote-boxed-text::before {
		font-size: 60px;
		top: -9px;
	}
	* + .quote-boxed-meta {
		margin-top: 20px;
	}
}

@media (min-width: 1200px) {
	.quote-boxed {
		transform: translateY(-30px);
		margin-bottom: -30px;
		margin-left: -80px;
	}
	.quote-boxed > * {
		display: inline-block;
		margin-top: 30px;
		margin-left: 80px;
	}
	.quote-boxed-image {
		width: 210px;
	}
	.quote-boxed-text,
	.quote-boxed-cite {
		font-size: 24px;
	}
	* + .quote-boxed-meta {
		margin-top: 30px;
	}
}

/**
* Background eleccion de nuestros servicios
*/
.bg-gray-lighter {
	background-color: #f7f7f7;
	fill: #f7f7f7;
}

/*box-minimal*/
.box-minimal {
	max-width: 390px;
	text-align: center;
}

.box-minimal * + p {
	margin-top: 15px;
}

.box-minimal .box-minimal-icon {
	font-size: 30px;
	line-height: 1;
	color: #ffa900;
}

.box-minimal-icon svg {
	fill: #ffa900;
}

.box-minimal-title {
	color: #29293a;
}

.container-box-minimal-wrap .box-minimal {
	max-width: 570px;
}

.box-minimal-header {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	transform: translateY(-20px);
	margin-bottom: -20px;
	margin-left: -20px;
}

.box-minimal-header > * {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}

.box-minimal-text {
	color: #838386;
}

* + .box-minimal-text {
	margin-top: 22px;
}

/**
* Box minimal border
*/
.box-minimal-border {
	padding: 20px 15px;
	border-radius: 8px;
	border: 1px solid #dfe1ea;
	transition: 450ms ease-in-out;
	margin-left: auto;
	margin-right: auto;
}

.box-minimal-border .box-minimal-icon {
	font-size: 30px;
	color: #ffa900;
}

.box-minimal-border .box-minimal-icon svg {
	fill: #ffa900;
}

.box-minimal-border .box-minimal-title {
	font-weight: 400;
}

.box-minimal-border * + hr {
	margin-top: 20px;
}

.box-minimal-border:hover {
	background: #f7f7f7;
	border-color: #f7f7f7;
	box-shadow: 0 10px 32px rgba(129, 132, 146, 0.14);
}

@media (min-width: 992px) {
	.box-minimal .box-minimal-icon {
		font-size: 40px;
	}
	.box-minimal .box-minimal-icon-md {
		font-size: 36px;
	}
	.box-minimal .box-minimal-icon-sm {
		font-size: 30px;
	}
	.box-minimal-border {
		padding: 40px 25px 45px;
		min-height: 365px;
	}
	.box-minimal-border .box-minimal-icon {
		font-size: 48px;
	}
	.box-minimal-border * + hr {
		margin-top: 30px;
	}
	.box-minimal-modern {
		padding: 0 28px 45px;
		min-height: 300px;
	}
	.box-minimal-modern .box-minimal-icon {
		font-size: 40px;
	}
	.box-minimal-modern .box-minimal-icon.mdi {
		font-size: 44px;
	}
	.box-minimal-modern * + .box-minimal-title {
		margin-top: 30px;
	}
	.box-minimal-icon.box-minimal-icon-lg {
		font-size: 40px;
	}
}

@media (min-width: 1200px) {
	.box-minimal-border {
		padding: 40px 35px 45px;
	}
}

@media (min-width: 1600px) {
	.box-minimal-icon.box-minimal-icon-lg {
		font-size: 52px;
	}
	.box-minimal-border {
		padding: 40px 45px 45px;
	}
}

/*row-50*/
html .row-50 {
	margin-bottom: -50px;
}
.rounded-circle {
    border-radius: 50% !important;
    padding: 35px;
}
/*---------------
      FIN
----------------*/





