{% extends 'core/base.html' %} {% load static %} {% block content %}
 {%if servicios%}
<!-- servicios data start-->
<div class="row">
  {% for p in servicios %}
  <!-- card1 -->
  <div class="column">
    <div class="container page-wrapper" style="width: 450px">
      <div class="page-inner">
        <div class="row">
          <div class="el-wrapper">
            <div class="box-up">
              <img
                class="img"
                src="{% static p.servicio_image.url %}"
                alt="servicio pic"
                height="300px"
                width="300px"
              />
              <div class="img-info">
                <div class="info-inner">
                  <span
                    style="background-color: #08050a; color: yellow"
                    class="p-company"
                    >{{p.name}}</span
                  >
                </div>
                <div class="a-size">{{p.description}}</div>

                <div class="a-size"><a href="{% url 'Detail-services' %} ">{{p.detail_servicio}}</a></div>

              </div>
            </div>

            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>

              <a class="cart" href="{% url 'add-to-cart' p.id  %}">
                <span class="price">S/{{p.price}}</span>
                <span class="add-to-cart">
                  <span class="txt">Add in cart</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- card1 end -->
  {% if forloop.counter|divisibleby:"3" %}
</div>

<div class="row">
  <br /><br /><br /><br /><br />
  {% endif %} {% endfor %}
</div>

<!-- servicois data end-->
{%else%}
<h3 style="text-align: center; color: yellow">No Search Found</h3>
{%endif%} {% endblock content %}
