{% extends 'core/base.html' %} {% load static %} {% load widget_tweaks %} 
{%block content %}

<section id="banner" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>

<br /><br /><br /><br />
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="col-md-6">
          <div class="img-signup"><img src="{% static 'login/image/shipibo-04.jpg' %}" alt=""></div><br>
          
        </div>
        <div class="col-md-6">
          <div class="title-register"><h2>Register</h2></div>
          <div class="formulario-login ">
            <form method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="nombre">Nombre</label>
                {% render_field userForm.first_name class="form-control"placeholder="First Name" %}
              </div>
              <div class="form-group">
                <label for="apellido">Apellido</label>
                {% render_field userForm.last_name class="form-control"placeholder="Last Name" %}
              </div>
              <div class="form-group">
                <label for="usuario">Usuario</label>
                {% render_field userForm.username class="form-control"placeholder="Username" %}
              </div>
              <div class="form-group">
                <label for="contraseña">Contraseña</label>
                {% render_field userForm.password class="form-control"placeholder="Password" %}
              </div>
              <div class="form-group">
                <label for="pais">Pais</label>
                {% render_field clienteForm.address class="form-control"placeholder="Pais" %}
              </div>
              <div class="form-group">
                <label for="celular">Celular</label>
                {% render_field clienteForm.mobile class="form-control"placeholder="Mobile" %}
              </div>
              <div class="form-group">
                <label for="perfil">Perfil</label>
                {% render_field clienteForm.profile_pic class="form-control"placeholder="Profile pic" %}
              </div>
              <div class="register-btn"><input type="submit" name="" value="Register" /></div>
              
            </form>
          </div>
          <div class="tittle-register"><p>Esperemos que tengas una inolvidable experiencia</p></div>
        </div>

      </div>
    </div>

    
  </div>
  

 
 
</div>
{% endblock %}