{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}

<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>

<section>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Editar Perfil</p>
        </div>
        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
              </div>
              <div class="form-group">
                {% render_field userForm.username class="form-control" placeholder="Username" %}
              </div>
              <div class="form-group">
                {% render_field clienteForm.mobile class="form-control" placeholder="Mobile" %}
              </div>
              <div class="form-group">
                {% render_field clienteForm.profile_pic class="form-control"placeholder="Profile pic" %}
                {% render_field clienteForm.profile_pic class="form-control" placeholder="Profile Picture" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
              </div>
              <div class="form-group">
                {% render_field userForm.password class="form-control" placeholder="Password" %}
              </div>
              <div class="form-group">
                {% render_field clienteForm.address class="form-control" placeholder="Address" %}
              </div>
  
            </div>
          </div>
          <button type="submit" class="btnSubmit">Editar</button>
        </div>
      </div>
    </div>
  </form>
</section>

{% endblock content %}
