{% extends 'core/base.html' %} {% load static %} {% block content %}
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<section>
  <div style="padding-left: 300px" class="container">
    <div class="col-sm-2 col-md-2">
      <img
        src="{{cliente.profile_pic.url }}" alt="profile pic" class="img-rounded img-responsive"/>
    </div>
    <div class="col-sm-4 col-md-4">
      <blockquote style="color: #141212">
        <p>{{request.user}}</p>
        <small style="color: #141212"
          ><cite title="Source Title"
            >{{cliente.address}} <i class="fa-solid fa-location-dot"></i></cite
        ></small>
      </blockquote>
      <p style="color: #141212">
        <i class="fa-solid fa-phone-flip"></i> {{cliente.mobile}}
      </p>
    </div>
  </div>
  <br />
  <div style="text-align: center">
    <a href="/edit-profile"><button class="button"><span>Edit Profile </span></button></a>
  </div>
</section>
{% endblock content %}
