
{% load static %}
<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>
<section class="admin-dashboard-cards">
  <div class="container">
    <div class="market-updates">
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-1">
          <div class="col-md-8 market-update-left">
            <h3>{{clientecount}}</h3>
            <h4>Total Cliente</h4>
  
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-2">
          <div class="col-md-8 market-update-left">
            <h3>{{serviciocount}}</h3>
            <h4>Total Servicio</h4>
  
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa-solid fa-basket-shopping"></i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-3">
          <div class="col-md-8 market-update-left">
            <h3>{{ordercount}}</h3>
            <h4>Total Reserva</h4>
  
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa-solid fa-handshake"></i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
  
    </div>
    <br><br>
  </div>
</section>


  

