{% extends 'core/admin_base.html' %} {% load static %} {% block content %}
{%include 'ecom/admin_dashboard_cards.html'%}

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" style="text-align: center">
      <h6 class="panel-title">Recent Orders</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Nombre cliente</th>
          <th>Mobil cliente</th>
          <th>Shipment Address</th>
          <th>Nombre Servicio</th>
          <th>Servicio foto</th>
          <th>Estado</th>
        </tr>
      </thead>
      {% for servicio,cliente,order in data %}
      <tr>
        {% for c in cliente %}
        <td>{{c.get_name}}</td>
        <td>{{c.mobile}}</td>
        <td>{{order.address}}</td>

        {% endfor %} {% for p in servicio %}
        <td>{{p.name}}</td>
        <td>
          <img
            src="{{ p.servicio_image.url }}"
            alt="Profile Pic"
            height="40px"
            width="40px"
          />
        </td>

        {% if order.status == 'Pending'%}
        <td><span class="label label-info">{{order.status}}</span></td>
        {% elif order.status == 'Delivered' %}
        <td><span class="label label-success">{{order.status}}</span></td>
        {% elif order.status == 'Out for Delivery' %}
        <td><span class="label label-warning">{{order.status}}</span></td>
        {%else%}
        <td><span class="label label-primary">{{order.status}}</span></td>
        {%endif%} {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
