{% extends 'core/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>


<section class="admin-update-servicio">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Actualizar detalles del servicio
          </p>
        </div>
        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field servicioForm.name class="form-control" placeholder="Servicio Name" %}
              </div>
              <div class="form-group">
                {% render_field servicioForm.description class="form-control" placeholder="Description" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field servicioForm.price class="form-control" placeholder="Price" %}
              </div>
              <div class="form-group">
                {% render_field servicioForm.servicio_image class="form-control" placeholder="servicio_image" %}
              </div>
  
  
            </div>
          </div>
          <button type="submit" class="btnSubmit">Update</button>
        </div>
      </div>
    </div>
  </form>
</section>

{% endblock content %}
