/*banner background*/
#banner {
  background: url('https://pbs.twimg.com/media/DMXzBkJVoAAPsbU.jpg') center center no-repeat;
  background-size: cover;
  height: 50%;
  /*padding: 9pc;*/
}
/*servicio*/
.servicio {
  padding: 0px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.servicio .img {
  width: 100%;
  border-radius: 3%;
  height: 150px;
}
.servicio .serv-conten{
  padding: 30px;
}
.servicio .name {
  text-align: center;
  padding-bottom: 20px;
}
.servicio .detail{
  padding-bottom: 20px;
}
.servicio .price{
  padding-bottom: 20px;
}
.servicio .price-menor{
color: #706a6a;
text-transform: none;
}
.servicio .add-cart{
  text-align: center;
  padding-bottom: 20px;
}
.fa-children {
  font-size: 25px;
}

.fa-child-reaching {
  font-size: 25px;
}
/*Detail*/
.detail-servicio img {
  width: 100%;
  border-radius: 3%;
  
}
/*Guia tour*/
.name-guia{
  margin-bottom: 100px;

}
