.services-img img{
    width: 100%;
}
.servicios{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.servicios .modulo{
    display: inline-block;
}
.card{
    margin-bottom: 20px;
}
.card img{
    width: 100% !important;
}
.card-body{
    text-align: center;
}

/*Preguntas frecuentes*/
.preguntas-frecuentes .row{
    margin: auto !important;
    text-align: center !important;
    width: 90% !important;
    background-color: #eafbff !important;
}
.preguntas-frecuentes  .title{
    text-align: center;
}

/*Contacto*/
.form-contacto{
    background-color: aquamarine;
    width: 90%;
    margin: auto;
}
.form-contacto input, textarea{
    width: 100% !important;
}