
{% extends 'core/base.html' %} {% load static %} {% block content %}
<!-- Banner background -->
<!-- HOME -->
<section id="banner" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>

  </div>
</section>


  <section class=lugares>
      <div class="container-fluid tm-container-content tm-mt-60">
          <div class="row mb-4">
              <div class="col-6 d-flex justify-content-end align-items-center">
                  <form action="" class="tm-text-primary">
                      Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of 200
                  </form>
              </div>
          </div>
          
          <!-- Galeria general de todos las categorias -->
          <div class="row tm-mb-90 tm-gallery">
              <!-- Categoria 01 -->
              {% for p in category %}
              <div class="col-md-3">
                <div class="categorias-places">
                    <figure class="effect-ming tm-video-item">
                        <!-- Img por categoria -->
                        <img src={{p.cat_lug_image.url}} alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <!-- Titulo y Redireccionamiento -->
                            <h2>{{p.name}}</h2>
                            <a href= "{% url 'Lug' p.id %}"></a>
                        </figcaption>
                    </figure>
                </div>
                  
                  <div class="d-flex justify-content-between tm-text-gray">
                      <!-- Fecha y vistas -->
                      <span class="tm-text-gray-light">18 Oct 2020</span>
                      <span>9,906 views</span>
                  </div>
              </div>
              {% endfor %}
          </div> <!-- row -->
          
      </div> <!-- container-fluid, tm-container-content -->
  </section>
{% endblock  %}


