{% extends 'core/base.html' %} {% load static %} {% block content %}
<!-- Banner background -->
<!-- HOME -->
<section id="banner" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>

  </div>
</section>
    <!-- SECCION 01 - CATEGORIA 01 -->
    <!-- Contenido General - Clase Padre -->
    <section class="contenedorGeneral">
        <div class="titulo">
            <h1>LA MEJOR ATRACCION TURISTICA</h1>
        </div>
        <!-- RESTINGA -->
        <!-- contentLugar - Clase hijo -->
        {% for p in place %}
        <div class="contentLugar">
            <!--img, titulo y redirecccionamiento-->

            <div class="imageLugar"><a href="{% url 'detail-lug' p.id %} "><img src={{p.lugar_image.url}} alt=""></a>
                <a href="{% url 'detail-lug' p.id %} ">

                    <h3>{{p.name}}</h3>
                </a>
            </div>
            <!--texto descriptivo-->
            <div class="txtLugar">
                <p>{{p.descriptions}}</p>
            </div>
        </div>
        {% endfor %}

        <!-- SECCION 02 - Mas Categorias -->
        <div class="contentLugar">
            <div class="titulo">
                <h1>Mas Categorias</h1>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="{% url 'lug_cat_comid' %}"><img src="{% static "webpage/images/lugares/comida.jpg" %}" alt="">
                    <h3>Comida</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="{% url 'lug_cat_seguri'%}"><img src="{% static "webpage/images/lugares/seguridad.jpg" %}" alt="">
                    <h3>Seguridad</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href=" {% url 'lug_cat_educac'%}"><img src="{% static "webpage/images/lugares/Educacion.jpg" %}" alt="">
                    <h3>Educacion</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href=" {% url 'lug_cat_salud'%}"><img src="{% static "webpage/images/lugares/salud.jpg" %}" alt="">
                    <h3>Salud</h3>
                </a>
            </div>
            <!--BTN y redireccionamiento-->
            <div class="btn-vermas"><button><a href="{% url 'Places' %}">Ver mas Categorias</a></button></div>
        </div>
    </section>

    
   
{% endblock  %}

