{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <!-- Banner background -->
    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-01">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>DIA</h3>
                                <h1>La Tierra colorada</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-02">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>TARDE</h3>
                                <h1>Maravillate de su hermosos paisajes!</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-03">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>NOCHE</h3>
                                <h1>Vive la mejor experiencia, con sus mejores atardeceres</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- GALERIA -->
    <section id="team" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>MINIGUIA</h2>
                        <h4>The best of the best De Pucallpa</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="images/dia-plaza.jpg" class="img-responsive" alt="">
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>Plaza de armas de Pucallpá</h4>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>ON THE DAY</h3>
                        <p>Welcome </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="images/tarde-aventura.jpg" class="img-responsive" alt="">
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>Recreo turistico la jungla</h4>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>IN THE AFTERNOON</h3>
                        <p>Welcome</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <img src="images/noche-discoteca.jpg" class="img-responsive" alt="">
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>Discoteca nopturna el "Bellaqueo"</h4>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>IN THE NIGHT</h3>
                        <p>Welcome</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!---Clase Padre Guia -->
    <section class="contenedorGeneral">
        <div class="tituloGuia">
            <h1>SEE EXPERENCE</h1>
        </div>
        <!---Categorias-->
        <div class="contentGuia">
            <div class="subtitulo">
                <h3>DIA</h3>
            </div>
            <!--galeria (DIA)-->
            <div>
                <a href="{% url 'Tour_dia' %}"><img src="/images/miniGuia/miniG1.jpg" alt="">
                    <h2>Dia</h2>
                </a>
            </div>
            <div>
                <a href="miniG_cat_dia2.html"><img src="/images/miniGuia/miniG2.jpg" alt="">
                    <h2>Tarde</h2>
                </a>
            </div>
            <div class="img-guia"><a href="miniG_cat_noche.html"><img src="/images/miniGuia/miniG3.jpg" alt="">
                    <h2>Noche</h2>
                </a>
            </div>
            <!---Videos-->
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
        </div>
        <hr color="red" size="100%">

        <!---Categorias-->
        <div class="contentGuia">
            <div class="subtitulo">
                <h3>TARDE</h3>
            </div>
            <!--galeria (TARDE)-->
            <div>
                <a href="miniG_cat_tarde.html"><img src="/images/miniGuia/miniGT1.jpg" alt="">
                <h2>Dia</h2></a>
            </div>
            <div>
                <a href="miniG_cat_tarde2.html"><img src="/images/miniGuia/miniGT2.jpg" alt="">
                <h2>Tarde</h2></a>
            </div>
            <div class="img-guia"><a href="miniG_cat_noche2.html"><img src="/images/miniGuia/miniGT3.jpg" alt="">
                <h2>Noche</h2></a>
            </div>
            <!---Videos-->
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
        </div>
        <hr>
        <!---Categorias-->
        <div class="contentGuia">
            <div class="subtitulo">
                <h3>NOCHE</h3>
            </div>
            <!--galeria (NOCHE)-->
            <div>
                <a href="miniG_cat_noche.html"><img src="/images/miniGuia/miniGN1.jpg" alt="">
                <h2>Dia</h2></a>
            </div>
            <div>
                <a href="miniG_cat_noche2.html"><img src="/images/miniGuia/miniGN2.jpg" alt="">
                <h2>Tarde</h2></a>
            </div>
            <div class="img-guia"><a href="miniG_cat_noche2.html"><img src="/images/miniGuia/miniGN3.jpg" alt="">
                <h2>Noche</h2></a>
            </div>
            <!---Videos-->
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
            <div class="video-guia"><video src="/videos/videop.mp4" poster="/images/footer-niños.jpg" controls="boolean"
                    width="350px" height="350px"></video></div>
        </div>
    </section>
    <!-- JERGA PUCALLPINA -->
    <section id="jerga" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <!-- Titulo -->
                        <h2>JERGA PUCALLPINA</h2>
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <!-- Frase 1 -->
                            <p>No voten basura en Pucallpá no sean chambones</p>
                            <div class="tst-author">
                                <!-- Palabra pucallpina -->
                                <h4>"Chambon"</h4>
                                <!-- Significado -->
                                <span>Persona que entorpese las cosas </span>
                            </div>
                        </div>

                        <div class="item">
                            <!-- Frase 2 -->
                            <p>Mister te cuidaddo no vaya entrar en lugares peligrosos o lo pueden dejar calato.</p>
                            <div class="tst-author">
                                <!-- Palabra pucallpina -->
                                <h4>"Calato"</h4>
                                <!-- Significado -->
                                <span>Desnudo, bebé o recién nacido.</span>
                            </div>
                        </div>

                        <div class="item">
                            <!-- Frase 3 -->
                            <p>Despues de unas buenas aventuras por Pucallpá no quedarian mal una ricas chelas</p>
                            <div class="tst-author">
                                <!-- Palabra pucallpina -->
                                <h4>"Chelas"</h4>
                                <!-- Significado -->
                                <span>Cerveza</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}

