{% extends 'webpage/base.html' %}
{% load static %}
{% block content %}
    <!-- Banner background -->
    <section id="banner_AtracTuris" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
    </section>
    <!-- SECCION 01 - CATEGORIA 01 -->
    <!-- Contenido General - Clase Padre -->
    <section class="contenedorGeneral">
        <div class="titulo">
            <h1>Lugares</h1>
        </div>
        <!-- RESTINGA -->
        <!-- contentLugar - Clase hijo -->
        <div class="contentLugar">
            <!--img, titulo y redirecccionamiento-->
            <div class="imageLugar"><a href="lug_cat_aventu_lug_01.html"><img
                        src="images/lugares/categoria-02/restinga/01-perfil.jpg" alt=""></a>
                <a href="lug_cat_aventu_lug_01.html">
                    <h3>Restinga Yarinacocha</h3>
                </a>
            </div>
            <!--texto descriptivo-->
            <div class="txtLugar">
                <p>"Restinga", pequeña playa en la época de verano, ubicada antes del malecón de Yarinacocha.
                    Importante: Averiguar con anterioridad dónde se encuentra ubicada la Restinga.
                    De preferencia ir los fines de semana donde hay mayor tráfico de gente, evitar ir de noche ya que no
                    es una zona muy transitada.
                    Tener en cuenta que en la época de invierno (Enero a Junio)
                    esta zona está inundada por la cual posiblemente estos lugares sean re ubicados nuevamente.
                </p>
            </div>
        </div>
        <!-- SAN JOSE -->
        <div class="contentLugar">
            <!--img, titulo y redirecccionamiento-->
            <div class="imageLugar"><a href="lug_cat_aventu_lug_02.html"><img
                        src="images/lugares/categoria-02/sanjose/01-perfil.jpg" alt=""></a>
                <a href="lug_cat_aventu_lug_02.html">
                    <h3>San Jose</h3>
                </a>
            </div>
            <!--texto descriptivo-->
            <div class="txtLugar">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias ipsam ullam at possimus.
                    Minus praesentium laborum deserunt dolore,
                    consectetur in quidem rerum libero veritatis nobis. Perspiciatis soluta quisquam corrupti tenetur.
                </p>
            </div>
        </div>
        <!-- LA JUNGLA -->
        <div class="contentLugar">
            <!--img, titulo y redirecccionamiento-->
            <div class="imageLugar"><a href="lug_cat_aventu_lug_03.html"><img
                        src="images/lugares/categoria-02/jungla/01-perfil.jpg" alt=""></a>
                <a href="lug_cat_aventu_lug_03.html">
                    <h3>La jungla</h3>
                </a>
            </div>
            <!--texto descriptivo-->
            <div class="txtLugar">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias ipsam ullam at possimus.
                    Minus praesentium laborum deserunt dolore,
                    consectetur in quidem rerum libero veritatis nobis. Perspiciatis soluta quisquam corrupti tenetur.
                </p>
            </div>
        </div>
        <!-- EL PARQUE NATURAL -->
        <div class="contentLugar">
            <!--img, titulo y redirecccionamiento-->
            <div class="imageLugar"><a href="lug_cat_aventu_lug_04.html"><img
                        src="images/lugares/categoria-02/parqueNatural/01-perfil.jpg" alt=""></a>
                <a href="lug_cat_aventu_lug_04.html">
                    <h3>Parque Natural</h3>
                </a>
            </div>
            <!--texto descriptivo-->
            <div class="txtLugar">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias ipsam ullam at possimus.
                    Minus praesentium laborum deserunt dolore,
                    consectetur in quidem rerum libero veritatis nobis. Perspiciatis soluta quisquam corrupti tenetur.
                </p>
            </div>
        </div>

        <!-- SECCION 02 - Mas Categorias -->
        <div class="contentLugar">
            <div class="titulo">
                <h1>Mas Categorias</h1>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="lug_cat_comid.html"><img src="images/lugares/comida.jpg" alt="">
                    <h3>Comida</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="lug_cat_seguri.html"><img src="images/lugares/seguridad.jpg" alt="">
                    <h3>Segurida</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href=""><img src="images/lugares/educacion.jpg" alt="">
                    <h3>Educacion</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="lug_cat_salud.html"><img src="images/lugares/salud.jpg" alt="">
                    <h3>Salud</h3>
                </a>
            </div>
            <!--BTN y redireccionamiento-->
            <div class="btn-vermas"><button><a href="lugares.html">Ver mas Categorias</a></button></div>
        </div>
    </section>

    <!-- SECCION 03 - JERGA PUCALLPINA -->
    <section id="jerga" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <!-- Titulo -->
                        <h2>JERGA PUCALLPINA</h2>
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <!-- Frase 1 -->
                            <p>No voten basura en Pucallpá no sean chambones</p>
                            <div class="tst-author">
                                <!-- Palabra pucallpina -->
                                <h4>"Chambon"</h4>
                                <!-- Significado -->
                                <span>Persona que entorpese las cosas </span>
                            </div>
                        </div>

                        <div class="item">
                            <!-- Frase 2 -->
                            <p>Mister te cuidaddo no vaya entrar en lugares peligrosos o lo pueden dejar calato.</p>
                            <div class="tst-author">
                                <!-- Palabra pucallpina -->
                                <h4>"Calato"</h4>
                                <!-- Significado -->
                                <span>Desnudo, bebé o recién nacido.</span>
                            </div>
                        </div>

                        <div class="item">
                            <!-- Frase 3 -->
                            <p>Despues de unas buenas aventuras por Pucallpá no quedarian mal una ricas chelas</p>
                            <div class="tst-author">
                                <!-- Palabra pucallpina -->
                                <h4>"Chelas"</h4>
                                <!-- Significado -->
                                <span>Cerveza</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}