{% load static %}
<style>
    .cart-button {
        background-color: #40d5d5;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
        padding: 10px 0;
        text-align: center;
        height: 41px;
        border-radius: 2px;
        font-weight: 500;
        width: 120px;
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        color: inherit;
        border: none;
        outline: none
    }
    
    .cart-button:hover {
        text-decoration: none;
        color: red;
        cursor: pointer
    }
    
    .cart-svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 8px;
    }
    
    .item-number {
      padding: 3px;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block
    }
    
    @media screen and (min-width: 768px) {
        .largenav {
            display: block
        }
        .smallnav {
            display: none
        }
        .smallsearch {
            margin: 0px
        }
        .profile-li a{
            color: #575757 !important;
        }
        .profile-li a:hover{
            color: #cc0000 !important;
        }
    }
    </style>
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse"
        >
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <!-- lOGO TEXT HERE -->
        <a href="index.html" class="navbar-brand">Astral <span>.</span> Tours</a>
      </div>
      <!-- MENU LINKS -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-nav-first">
          <li><a href="{% url 'Home' %}" class="smoothScroll">Home</a></li>
          <!--li><a href="{% url 'Tours' %}" class="smoothScroll">Tours</a></li-->
          <li><a href="{% url 'Places' %}" class="smoothScroll">Lugares</a></li>
          <li>
            <a href="/servicio" class="smoothScroll">Servicios</a>
          </li>
          <li class="upper-links"><a class="links" href="{% url 'my-order' %}">Reservas</a></li>
          <li class="upper-links"><a class="links" href="/my-profile">Profile</a></li>
          <li class="upper-links"><a class="links" href="{% url 'logout' %}">Logout</a></li>
          
          <li class="upper-links dropdown"><a class="links" href="">More</a>
              <ul class="dropdown-menu">
                <li class="profile-li"><a class="profile-links" href="/send-feedback">Send Feedback</a></li>
                  <li class="profile-li"><a class="profile-links" href="/contactus">Contact Us</a></li>
                  <li class="profile-li"><a class="profile-links" href="/aboutus">About Us</a></li>
              </ul>
          </li> 
          <li>  <div class="cart1 largenav col-sm-2"> <a class="cart-button" href="/cart"> <svg class="cart-svg " width="16 " height="16 " viewBox="0 0 16 16 ">
            <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
        </svg> Cart <span class="item-number ">{{ servicio_count_in_cart }}</span> </a> </div></li>
        </ul>
      </div>
    </div>
  </section>
  