{% extends 'core/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>
<section class="admin-add-servicios">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>AGREGAR CATEGORIAS</p>
        </div>
        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field  catPlaceForm.name class="form-control" placeholder="Name" %}
              </div>
              <div class="form-group">
                {% render_field  catPlaceForm.cat_lug_image class="form-control" placeholder="image" %}
              </div>
  
            </div>
          </div>
          <button type="submit" class="btnSubmit">Agregar</button>
        </div>
      </div>
    </div>
  </form>

</section>

{% endblock content %}
