{% extends 'core/base.html' %} {% load static %} {% block content %}
<!-- Banner background -->
<!-- HOME -->
<section id="banner" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>

  </div>
</section>

    <!-- Lugar01 - RESTINGA -->
    <!-- Contenido General - Clase Padre -->
    <section class="contenedorGeneral">
        <div class="titulo">
            <h1>Descripcion</h1>
        </div>
        <!-- contentLugar - Clase hijo -->
        <div class="contentLugar">
            <!--img, titulo y redirecccionamiento-->
            <div class="imageLugar"><img src={% static "webpage/images/lugares/categoria-01/plazaArmas/01-perfil.jpg" %} alt="">
                <h3>Lupuna</h3>
            </div>
            <!--texto descriptivo-->
            <div class="txtLugar">
                <p>En lengua maya de la península de Yucatán, se le da el nombre Yaxché, que significa árbol sagrado. En la Amazonía Peruana, donde Fundación Aquae apoya un proyecto de UNICEF de promoción de acceso a agua segura, saneamiento e higiene, el árbol de la Lupuna.
                </p>
            </div>
            <!-- El horario de los lugares -->
            <div class="horario">
                <h3>Horario: Lunes - Domingo | libre </h3>
                <!-- <h3>Lunes - Viernes</h3><h5>8.00am - 10.00pm</h5> -->
            </div>
            <!-- Galeria de fotos-->
            <div class="galeria-fotos">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                            <h2>GALERIA</h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <!-- MENU THUMB -->
                        <div class="menu-thumb">
                             <!-- Fotos Principales -->
                            <a href="" class="image-popup"
                                title="American Breakfast">
                                <img src={% static "webpage/images/lugares/categoria-01/plazaArmas/02.jpg" %} class="img-responsive" alt="">
                                <!-- Descripcion dentro de la imagen -->
                                <div class="menu-info">
                                    <div class="menu-item">
                                        <h3></h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- MENU THUMB -->
                        <div class="menu-thumb">
                             <!-- Fotos Principales -->
                            <a href="" class="image-popup"
                                title="Self-made Salad">
                                <img src={% static "webpage/images/lugares/categoria-01/plazaArmas/03.jpg" %} class="img-responsive" alt="">
                                <!-- Descripcion dentro de la imagen -->
                                <div class="menu-info">
                                    <div class="menu-item">
                                        <h3>Una buena vista del sol rojo en la Laguna</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- MENU THUMB -->
                        <div class="menu-thumb">
                             <!-- Fotos Principales -->
                            <a href= class="image-popup"
                                title="Self-made Salad">
                                <img src={% static "webpage/images/lugares/categoria-01/plazaArmas/04.jpg" %} class="img-responsive" alt="">
                                <!-- Descripcion dentro de la imagen -->
                                <div class="menu-info">
                                    <div class="menu-item">
                                        <h3>Vote llevo, llevos frente al castillo</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                   
                    <div class="col-md-4 col-sm-6">
                        <!-- MENU THUMB -->
                        <div class="menu-thumb">
                             <!-- Fotos Principales -->
                            <a href="" class="image-popup"
                                title="Self-made Salad">
                                <img src={% static "webpage/images/lugares/categoria-01/plazaArmas/05.jpg" %} class="img-responsive" alt="">
                                <!-- Descripcion dentro de la imagen -->
                                <div class="menu-info">
                                    <div class="menu-item">
                                        <h3>Un atardecer en la laguna</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- MENU THUMB -->
                        <div class="menu-thumb">
                             <!-- Fotos Principales -->
                            <a href="" class="image-popup"
                                title="Self-made Salad">
                                <img src={% static "webpage/images/lugares/categoria-01/plazaArmas/06.jpg" %} class="img-responsive"  alt="">
                                <!-- Descripcion dentro de la imagen -->
                                <div class="menu-info">
                                    <div class="menu-item">
                                        <h3>Atardecer en el laguna</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- MENU THUMB -->
                        <div class="menu-thumb">
                             <!-- Fotos Principales -->
                            <a href="" class="image-popup"
                                title="Self-made Salad">
                                <img src={% static "webpage/images/lugares/categoria-01/plazaArmas/07.jpg" %} class="img-responsive" alt="">
                                <!-- Descripcion dentro de la imagen -->
                                <div class="menu-info">
                                    <div class="menu-item">
                                        <h3>Un sitio que recibe visitante de muchas partes del pais</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Niño shipibo -->
            <div class="img-boy-shipibo"><img src={% static "webpage/images/lugares/categoria-02/restinga/reconm.jpg" %} alt=""></div>
            <!-- texto de recomendacion -->
            <div class="recomendacion">
                <h2>Recomendacion</h2>
                <p>estar equipado con cosas que necesitaras al llevar llegar al sitio , llevar su dinero si desea consumir en el establecimienos que se incluye o llevar comida o si desea realizar otra actividad</p>
            </div>

            <div class="google-maps" data-wow-delay="0.4s">
                <div id="google-map">
                    <iframe
                        src="https://www.google.com/maps/@-8.3897274,-74.5710104,3a,75y,91.65h,80.7t/data=!3m7!1e1!3m5!1sG2https://www.google.com/maps/place/Monumento+Al+Campesino+Pucallpa/@-8.3897682,-74.5711089,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipOGTMId5romWMjLl79p1hld3vGiFSbmUudGMiHI!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOGTMId5romWMjLl79p1hld3vGiFSbmUudGMiHI%3Dw86-h114-k-no!7i3096!8i4128!4m5!3m4!1s0x91a3bd74a050595b:0x3282209156abf286!8m2!3d-8.3897602!4d-74.5710788
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>

        <!-- SECCION 02 - Lugares -->
        <div class="contentLugar">
            <div class="titulo">
                <h1>Mas Lugares</h1>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="lug_cat_aventu_lug_02.html"><img src={% static "webpage/images/lugares/categoria-02/sanjose/01-perfil.jpg"%} alt="">
                    <h3>San Jose</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="lug_cat_aventu_lug_03.html"><img src= {% static "webpage/images/lugares/categoria-02/jungla/01-perfil.jpg"%} alt="">
                    <h3>La Jungla</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="lug_cat_aventu_lug_04.html"><img src={% static "webpage/images/lugares/categoria-02/parqueNatural/01-perfil.jpg"%} alt="">
                    <h3>Parque Natural</h3>
                </a>
            </div>
            <!--img, titulo y redirecccionamiento-->
            <div class="mas-lugares"><a href="lug_cat_aventu_lug_01.html"><img src= {% static "webpage/images/lugares/categoria-02/restinga/01-perfil.jpg" %} alt="">
                    <h3>La Restinga</h3>
                </a>
            </div>
            <!--BTN y redireccionamiento-->
            <div class="btn-vermas"><button><a href="lug_cat_aventu.html">Ver mas lugares</a></button></div>
        </div>
    </section>
{%endblock%}