{% extends 'core/base.html' %} {% load static %} {% block content %}

<br /><br /><br /><br />
<section>
  <h3 style="text-align: center; color: white">
    Gracias por su Reserva <strong>{{request.user}}</strong> !
  </h3>
  <br /><br />
  <div class="container">
    <header class="card-header" style="text-align: center">
      Mi Reserva /Seguimiento
    </header>

    {% for servicios,order in data %}

    <article class="card">
      <div class="card-body">
        <ul class="row" style="margin-left: 20px; margin-top: 20px">
          <li class="col-md-4">
            <figure class="itemside mb-3">
              {%for servicio in servicios%}
              <div class="aside">
                <img
                  src="{{servicio.servicio_image.url}}"
                  class="img-sm border"
                />
              </div>
              <figcaption class="info align-self-center">
                <p class="title">
                  <strong>Name : </strong>{{servicio.name}} <br />
                  <strong>Description : </strong>{{servicio.description}}
                </p>
                <span class="text-muted"
                  ><strong>Price : </strong>{{servicio.price}}
                </span>
              </figcaption>
            </figure>
          </li>
          <li class="col-md-4">
            <div class="col">
              <strong>Punto de encuentro:</strong> <br />
              {{order.address}}
            </div>
            <div class="col">
              <strong>fecha:</strong> <br />
              {{order.fecha}}
            </div>
            <div class="col">
              <strong>adultos:</strong> <br />
              {{order.num_a}}
            </div>
            <div class="col">
              <strong>menores:</strong> <br />
              {{order.num_n}}
            </div>
          </li>
          <li class="col-md-4">
            <div class="col">
              <strong>Status:</strong> <br />
              {{order.status}}
            </div>
            <br />
            <h4>
              <a
                style="text-decoration: none; color: blue"
                href="{% url 'download-invoice' order.id servicio.id  %}"
                >Download Invoice</a
              >
            </h4>
          </li>
          {%endfor%}
        </ul>
        <hr />

        <div class="track">
          {%if order.status == 'Pending' %}
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa fa-frown-o"></i>
            </span>
            <span class="text">Reserva pendiente</span>
          </div>
          <div class="step">
            <span class="icon">
              <i style="padding-top: 5px" class="fa fa-check"></i>
            </span>
            <span class="text"> Reserva confirmado</span>
          </div>
          <div class="step">
            <span class="icon">
              <i style="padding-top: 5px" class="fa-solid fa-bus"></i>
            </span>
            <span class="text"> Tour en proceso </span>
          </div>
          <div class="step">
            <span class="icon">
              <i style="padding-top: 5px" class="fa-solid fa-flag"></i>
            </span>
            <span class="text">Tour Finalizado</span>
          </div>
          {%elif order.status == 'Order Confirmed' %}
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa fa-frown-o"></i>
            </span>
            <span class="text">Reserva pendiente</span>
          </div>
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa fa-check"></i>
            </span>
            <span class="text"> Reserva confirmado</span>
          </div>
          <div class="step">
            <span class="icon">
              <i style="padding-top: 5px" class="fa-solid fa-bus"></i>
            </span>
            <span class="text"> Tour en proceso </span>
          </div>
          <div class="step">
            <span class="icon">
              <i style="padding-top: 5px" class="fa-solid fa-flag"></i>
            </span>
            <span class="text">Tour Finalizado</span>
          </div>
          {%elif order.status == 'Out for Delivery'%}
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa fa-frown-o"></i>
            </span>
            <span class="text">Reserva pendiente</span>
          </div>
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa fa-check"></i>
            </span>
            <span class="text"> Reserva confirmado</span>
          </div>
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa-solid fa-bus"></i>
            </span>
            <span class="text"> Tour en proceso </span>
          </div>
          <div class="step">
            <span class="icon">
              <i style="padding-top: 5px" class="fa-solid fa-flag"></i>
            </span>
            <span class="text">Tour Finalizado</span>
          </div>
          {%else%}
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa fa-frown-o"></i>
            </span>
            <span class="text">Reserva pendiente</span>
          </div>
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa fa-check"></i>
            </span>
            <span class="text"> Reserva confirmado</span>
          </div>
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa-solid fa-bus"></i>
            </span>
            <span class="text"> Tour en proceso </span>
          </div>
          <div class="step active">
            <span class="icon">
              <i style="padding-top: 5px" class="fa-solid fa-flag"></i>
            </span>
            <span class="text">Tour Finalizado</span>
          </div>
          {%endif%}
        </div>
      </div>
    </article>
    <br />
    {%endfor%}
  </div>
</section>

<br /><br /><br /><br /><br />
{% endblock content %}
