
{% extends 'core/base2.html' %}
{% load static %}
{% block content %}
<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>
<section>
  <div class="container">
    <div class="form-border">
      <center>
        <h3 class='alert alert-success'>¡Envíenos sus valiosos comentarios!</h3>
      
          <form method="POST">
            {% csrf_token %}
            <table class="form-contactus">
                <div>{{ form.as_table}}</div>
            </table>
            <input type="submit" value="Send Message" class='btn btn-danger btn-lg'>
          </form>
        
      </center>
    </div>
  </div>
</section>
  
{% endblock %}
