{% extends 'core/base.html' %} {% load static %} {% block content %}

<!-- JERGA PUCALLPINA -->
<section id="jerga" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <!-- Titulo -->
          <br><br><br><br><br><br>
          <h2>JERGA PUCALLPINA</h2>
        </div>
      </div>

      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <!-- Frase 1 -->
            <p>No voten basura en Pucallpá no sean chambones</p>
            <div class="tst-author">
              <!-- Palabra pucallpina -->
              <h4>"Chambon"</h4>
              <!-- Significado -->
              <span>Persona que entorpese las cosas </span>
            </div>
          </div>

          <div class="item">
            <!-- Frase 2 -->
            <p>
              Mister te cuidaddo no vaya entrar en lugares peligrosos o lo
              pueden dejar calato.
            </p>
            <div class="tst-author">
              <!-- Palabra pucallpina -->
              <h4>"Calato"</h4>
              <!-- Significado -->
              <span>Desnudo, bebé o recién nacido.</span>
            </div>
          </div>

          <div class="item">
            <!-- Frase 3 -->
            <p>
              Despues de unas buenas aventuras por Pucallpá no quedarian mal una
              ricas chelas
            </p>
            <div class="tst-author">
              <!-- Palabra pucallpina -->
              <h4>"Chelas"</h4>
              <!-- Significado -->
              <span>Cerveza</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="table-diccionario">
      <div class="row">
        <div class="nav-diccionario">
        <a href="#A"><div class="col-md-1">A</div></a>
        <a href="#B"><div class="col-md-1">B</div></a>
        <a href="#C"><div class="col-md-1">C</div></a>
        <a href="#D"><div class="col-md-1">D</div></a>
        <a href="#E"><div class="col-md-1">E</div></a>
        <a href="#F"><div class="col-md-1">F</div></a>
        <a href="#G"><div class="col-md-1">G</div></a>
        <a href="#H"><div class="col-md-1">H</div></a>
        <a href="#I"><div class="col-md-1">I</div></a>
        <a href="#J"><div class="col-md-1">J</div></a>
        <a href="#L"><div class="col-md-1">L</div></a>
        <a href="#LL"><div class="col-md-1">LL</div></a>
        <a href="#M"><div class="col-md-1">M</div></a>
        <a href="#N"><div class="col-md-1">N</div></a>
        <a href="#O"><div class="col-md-1">O</div></a>
        <a href="#P"><div class="col-md-1">P</div></a>
        <a href="#Q"><div class="col-md-1">Q</div></a>
        <a href="#R"><div class="col-md-1">R</div></a>
        <a href="#S"><div class="col-md-1">S</div></a>
        <a href="#T"><div class="col-md-1">T</div></a>
        <a href="#U"><div class="col-md-1">U</div></a>
        <a href="#W"><div class="col-md-1">W</div></a>
        <a href="#Y"><div class="col-md-1">Y</div></a>
        </div>
      </div>
      <br /><br /><br />

      <table border="0" cellspacing="0" cellpadding="0" width="547">
        <tbody>
          <tr>
            <td valign="top">
              <strong><em>PALABRA</em></strong>
            </td>
            <td valign="top">
              <strong><em>SIGNIFICADO</em></strong>
            </td>
          </tr>
          <tr>
            <td id="A" colspan="2" width="547" valign="top">
              <strong>&nbsp;</strong>
              <p></p>
              <p><strong>A</strong></p>
              <p><strong>&nbsp;</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">AHUMADO</td>
            <td valign="top">Carne asado en carbón.</td>
          </tr>
          <tr>
            <td valign="top">ACHUNI ULLO</td>
            <td valign="top">
              Bebida&nbsp; afrodisíaca&nbsp;&nbsp; preparada a base&nbsp;
              de&nbsp; aguardiente&nbsp;&nbsp; mezclado con la parte genital
              del&nbsp; achuni
            </td>
          </tr>
          <tr>
            <td valign="top">ACHUNI.</td>
            <td valign="top">
              Pequeño roedor&nbsp; de color&nbsp; oscuro&nbsp; de&nbsp;
              trompa&nbsp; y cola&nbsp; larga
            </td>
          </tr>
          <tr>
            <td valign="top">AFASI</td>
            <td valign="top">
              Dícese&nbsp; de la&nbsp; persona que&nbsp; no tiene&nbsp; suerte
              en el amor
            </td>
          </tr>
          <tr>
            <td valign="top">AGUADO</td>
            <td valign="top">
              Dicese de la&nbsp; persona&nbsp; que no le gusta&nbsp; estar en
              alguna reunión
            </td>
          </tr>
          <tr>
            <td valign="top">AHISITO</td>
            <td valign="top">&nbsp;Muy cerca</td>
          </tr>

          <tr>
            <td valign="top">AHUIHUA</td>
            <td valign="top">Es la metamorfosis&nbsp; que sufre la mariposa</td>
          </tr>
          <tr>
            <td valign="top">AICHITERO&nbsp;</td>
            <td valign="top">
              Dicese&nbsp; de le&nbsp; persona&nbsp; que&nbsp; gusta&nbsp;
              de&nbsp; comer&nbsp; mucha carne
            </td>
          </tr>
          <tr>
            <td valign="top">ALLAHUITA</td>
            <td valign="top">Pobrecito</td>
          </tr>
          <tr>
            <td valign="top">APIACHO</td>
            <td valign="top">Objeto aplastado</td>
          </tr>
          <tr>
            <td valign="top">ARPÓN</td>
            <td valign="top">Material de pesca</td>
          </tr>
          <tr>
            <td valign="top">ARRECHO</td>
            <td valign="top">Excitado</td>
          </tr>
          <tr>
            <td valign="top">ASHI PICHITO</td>
            <td valign="top">De vagina pequeña</td>
          </tr>
          <tr>
            <td valign="top">ASHISHITO</td>
            <td valign="top">Cosa pequeña</td>
          </tr>
          <tr>
            <td valign="top">ASNA HUAIRA</td>
            <td valign="top">Persona que despide mal olor</td>
          </tr>
          <tr>
            <td valign="top">ASNA RACA</td>
            <td valign="top">Vagina mal oliente</td>
          </tr>
          <tr>
            <td valign="top">ASNA SIQUI</td>
            <td valign="top">Trasero mal oliente</td>
          </tr>
          <tr>
            <td valign="top">ASNA SOBACO</td>
            <td valign="top">Axilas hediondas</td>
          </tr>
          <tr>
            <td valign="top">ASNA SHIMI</td>
            <td valign="top">Boca hedionda</td>
          </tr>
          <tr>
            <td valign="top">ASNA ULLO</td>
            <td valign="top">Pene mal oliente</td>
          </tr>
          <tr>
            <td valign="top">ASNAZO</td>
            <td valign="top">Apestoso</td>
          </tr>
          <tr>
            <td valign="top">AYAHUASCA</td>
            <td valign="top">Planta Alucinógena</td>
          </tr>
          <tr>
            <td valign="top">AYAYMAMAN</td>
            <td valign="top">Ave nocturna que emite un canto muy triste.</td>
          </tr>
          <tr>
            <td id="B" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>B</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">BABIECO</td>
            <td valign="top">Mentiroso, figureti</td>
          </tr>
          <tr>
            <td valign="top">BADEAR</td>
            <td valign="top">Chimbar, cruzar el río.</td>
          </tr>
          <tr>
            <td valign="top">BANDEAR</td>
            <td valign="top">
              &nbsp;Cruzar&nbsp; al rió&nbsp; de una orilla a otra
            </td>
          </tr>
          <tr>
            <td valign="top">BARBACOA&nbsp;&nbsp;</td>
            <td valign="top">Andamios o tableros de madera redondas&nbsp;</td>
          </tr>
          <tr>
            <td valign="top">BARBASCO</td>
            <td valign="top">
              Planta cuyas raíces se utiliza para la pesca e insecticida.
            </td>
          </tr>
          <tr>
            <td valign="top">BATAN</td>
            <td valign="top">
              Recipiente de madera&nbsp; sirve para preparar el mazota
            </td>
          </tr>
          <tr>
            <td valign="top">BAYUCA</td>
            <td valign="top">Gusano con ortigas.</td>
          </tr>
          <tr>
            <td valign="top">BELLACO</td>
            <td valign="top">Plátano grande y grueso.</td>
          </tr>
          <tr>
            <td valign="top">BESHECO</td>
            <td valign="top">Becerro, persona, mujer o niño mamón</td>
          </tr>
          <tr>
            <td valign="top">BISARRO ULLO</td>
            <td valign="top">
              Hombre mujeriego gusta de hacer el amor a cada rato.
            </td>
          </tr>
          <tr>
            <td valign="top">BOLA RACA</td>
            <td valign="top">Vagina con pubis abultado</td>
          </tr>
          <tr>
            <td valign="top">BOLANSHO</td>
            <td valign="top">Persona de pelo corto</td>
          </tr>
          <tr>
            <td valign="top">BUCHIZAPA</td>
            <td valign="top">Barrigón</td>
          </tr>
          <tr>
            <td valign="top">BUCILAR</td>
            <td valign="top">Relampaguear</td>
          </tr>
          <tr>
            <td id="D" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>C</strong></p>
            </td>
          </tr>

          <tr>
            <td valign="top">CANGA</td>
            <td valign="top">Carne azada a la braza.</td>
          </tr>

          <tr>
            <td valign="top">CAPON</td>
            <td valign="top">Castrado, sin trolas.</td>
          </tr>

          <tr>
            <td valign="top">CASHARRO</td>
            <td valign="top">Pelo trinchado</td>
          </tr>

          <tr>
            <td valign="top">CETICO</td>
            <td valign="top">
              Árbol de tallo alto&nbsp; y delgado , de color blanco y plomizo
              que sirve para leña.
            </td>
          </tr>

          <tr>
            <td valign="top">CHANGA</td>
            <td valign="top">Pierna</td>
          </tr>
          <tr>
            <td valign="top">CHANGADO</td>
            <td valign="top">Dormir entrepiernado con pareja.</td>
          </tr>
          <tr>
            <td valign="top">CHAPANEAR</td>
            <td valign="top">
              Pasar la noche en el bosque ,&nbsp; al espera de un animal para
              cazarlo, esto se realiza desde un altillo
            </td>
          </tr>
          <tr>
            <td valign="top">CHICHARRA</td>
            <td valign="top">Cigarra</td>
          </tr>
          <tr>
            <td valign="top">CHINEAR</td>
            <td valign="top">Mirara guiñar</td>
          </tr>

          <tr>
            <td valign="top">CHOBEAR</td>
            <td valign="top">Jalar de los pelos</td>
          </tr>
          <tr>
            <td valign="top">CHOBON</td>
            <td valign="top">De pelo largo</td>
          </tr>
          <tr>
            <td valign="top">CHOLO</td>
            <td valign="top">Indio , nativo</td>
          </tr>
          <tr>
            <td valign="top">CHUCARA</td>
            <td valign="top">Mañoso</td>
          </tr>
          <tr>
            <td valign="top">CHUCHO</td>
            <td valign="top">Seno, teta</td>
          </tr>
          <tr>
            <td valign="top">CHUCHUTEAR</td>
            <td valign="top">Mamar</td>
          </tr>
          <tr>
            <td valign="top">CHULLACHAQUI</td>
            <td valign="top">
              Dicese de un personaje misterioso del bosque&nbsp; que toma la
              forma&nbsp; de familiar&nbsp; o amigo.
            </td>
          </tr>
          <tr>
            <td valign="top">CHUPA</td>
            <td valign="top">&nbsp;Cola , rabo</td>
          </tr>
          <tr>
            <td valign="top">CHURANDERO (A)</td>
            <td valign="top">
              Trompo que sirve para&nbsp; ser mepeado, mujer de la vida alegre.
            </td>
          </tr>

          <tr>
            <td valign="top">CIPUNA</td>
            <td valign="top">Poto, culo</td>
          </tr>
          <tr>
            <td valign="top">CONCOLON</td>
            <td valign="top">El quemado del arroz</td>
          </tr>
          <tr>
            <td valign="top">CUCHINUDO</td>
            <td valign="top">Nudo de calzón flojo.</td>
          </tr>
          <tr>
            <td valign="top">CUCHIPE</td>
            <td valign="top">Enfermedad de aves.</td>
          </tr>

          <tr>
            <td valign="top">CUICA</td>
            <td valign="top">Lombriz de tierra para pescar o hacer puzanga.</td>
          </tr>

          <tr>
            <td valign="top">CUTIPAR</td>
            <td valign="top">Devolver una acción</td>
          </tr>
          <tr>
            <td valign="top">CUTULO</td>
            <td valign="top">Sin rabo , sin cola</td>
          </tr>
          <tr>
            <td id="D" colspan="2" width="547" valign="top">
                &nbsp;
                <p></p>
                <p><strong>D</strong></p>
              </td>
          </tr>
          <tr>
            <td valign="top">DAÑADO</td>
            <td valign="top">Flojo inútil dejado</td>
          </tr>
          <tr>
            <td valign="top">DEJADO</td>
            <td valign="top">Flojo , inútil</td>
          </tr>
          <tr>
            <td valign="top">DEMENTO</td>
            <td valign="top">Alocado atolondrado</td>
          </tr>
          <tr>
            <td valign="top">DESAHUEVAR</td>
            <td valign="top">Aclarar, sacar al fresco.</td>
          </tr>
          <tr>
            <td id="E" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>E</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">EMBELECO</td>
            <td valign="top">Mirón</td>
          </tr>
          <tr>
            <td valign="top">ETECO</td>
            <td valign="top">Flaca&nbsp; desnutrido</td>
          </tr>
          <tr>
            <td id=" F" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>F</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">
              &nbsp;
              <p></p>
              <p>FASACO</p>
            </td>
            <td valign="top">
              Pez muelón, que vive en las cochas y quebradas.
            </td>
          </tr>
          <tr>
            <td valign="top">FREGAR</td>
            <td valign="top">Fastidiar</td>
          </tr>
          <tr>
            <td id="G" colspan="2" width="547" valign="top">
              <strong>&nbsp;</strong>
              <p></p>
              <p><strong>G</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">GAMIA</td>
            <td valign="top">Comida sin sal</td>
          </tr>
          <tr>
            <td id="H" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>H</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">HARRAGAN</td>
            <td valign="top">Holgazán</td>
          </tr>
          <tr>
            <td valign="top">HOMBRELINA</td>
            <td valign="top">Mujer que gusta juegos varoniles</td>
          </tr>
          <tr>
            <td valign="top">HUAHUASAPA</td>
            <td valign="top">Mujer que tiene barios hijos</td>
          </tr>
          <tr>
            <td valign="top">HUAIRANGA</td>
            <td valign="top">
              Variedad de avispas de color marrón oscuro , cuya en cada
              hincada&nbsp; de su lanceta&nbsp; es muy doloroso.
            </td>
          </tr>

          <tr>
            <td valign="top">HUALO</td>
            <td valign="top">Sapo grande</td>
          </tr>
          <tr>
            <td valign="top">HUAMBRA</td>
            <td valign="top">Niña</td>
          </tr>
          <tr>
            <td valign="top">HUAÑU HUAÑU</td>
            <td valign="top">Pescado salado no muy seco</td>
          </tr>

          <tr>
            <td valign="top">HUINGO</td>
            <td valign="top">Fruto que sirve para hacer pates.</td>
          </tr>
          <tr>
            <td valign="top">HUINSHO</td>
            <td valign="top">Hijo menor de la familia</td>
          </tr>

          <tr>
            <td valign="top">HUIRA HUIRA</td>
            <td valign="top">Mantecoso</td>
          </tr>
          <tr>
            <td id="I" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>I</strong></p>
            </td>
          </tr>

          <tr>
            <td valign="top">INCHICAPI</td>
            <td valign="top">Sopa regional de gallina con maíz y maní</td>
          </tr>
          <tr>
            <td valign="top">INGUIRI</td>
            <td valign="top">Plátano sancochado</td>
          </tr>
          <tr>
            <td valign="top">INTUTO</td>
            <td valign="top">Zorro</td>
          </tr>
          <tr>
            <td valign="top">IRQUINCHO</td>
            <td valign="top">Llorón</td>
          </tr>
          <tr>
            <td valign="top">ISANGO</td>
            <td valign="top">Insecto que se encuentra en el gras</td>
          </tr>
          <tr>
            <td valign="top">ISMA</td>
            <td valign="top">Excremento , mierda</td>
          </tr>
          <tr>
            <td valign="top">ISMATERO</td>
            <td valign="top">Niño cagón que defeca cada rato</td>
          </tr>
          <tr>
            <td valign="top">IZULA</td>
            <td valign="top">
              Variedad de insectos terrestres y volador cuya ponzoña es dolorosa
            </td>
          </tr>
          <tr>
            <td id="J" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>J</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">JICRA</td>
            <td valign="top">Bolso, talega</td>
          </tr>
          <tr>
            <td valign="top">JODER</td>
            <td valign="top">Molestar</td>
          </tr>
          <tr>
            <td valign="top">JODIDO</td>
            <td valign="top">Pesado, fregado caído</td>
          </tr>
          <tr>
            <td id="L" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>L</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">LECHERO</td>
            <td valign="top">Suertudo</td>
          </tr>

          <tr>
            <td valign="top">LAPEAR</td>
            <td valign="top">Dar una cachetada</td>
          </tr>
          <tr>
            <td valign="top">LAPO</td>
            <td valign="top">Puñete</td>
          </tr>

          <tr>
            <td id="LL" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>LL</strong></p>
            </td>
          </tr>

          <tr>
            <td valign="top">LLAPCHAR</td>
            <td valign="top">Disolver la masa de mazato</td>
          </tr>

          <tr>
            <td valign="top">LLILLI</td>
            <td valign="top">&nbsp;Boquera. Herida en la boca</td>
          </tr>

          <tr>
            <td valign="top">LLULLO</td>
            <td valign="top">Bebe</td>
          </tr>

          <tr>
            <td valign="top">LLULLAMPA</td>
            <td valign="top">Mentiroso</td>
          </tr>
          <tr>
            <td valign="top">LLULLITO</td>
            <td valign="top">Bebito</td>
          </tr>

          <tr>
            <td id="M" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>M</strong></p>
            </td>
          </tr>

          <tr>
            <td valign="top">MAKISAPA</td>
            <td valign="top">Mano grande variedad de mono</td>
          </tr>
          <tr>
            <td valign="top">MALIGNO</td>
            <td valign="top">Alma que pena en las noches</td>
          </tr>

          <tr>
            <td valign="top">MANACARACUY</td>
            <td valign="top">
              Ave silvestre de pequeño tamaño , de color marrón y carne
              comestible, cuyo canto bullicioso es presagio de lluvia
            </td>
          </tr>
          <tr>
            <td valign="top">MAPACHO</td>
            <td valign="top">
              Cigarro&nbsp; elaborado de un mazo de tabaco; picado, sucio
            </td>
          </tr>
          <tr>
            <td valign="top">MAPERO</td>
            <td valign="top">Varón que se acuesta con homosexuales</td>
          </tr>
          <tr>
            <td valign="top">MASHO</td>
            <td valign="top">Murciélago</td>
          </tr>
          <tr>
            <td valign="top">MELA MELA</td>
            <td valign="top">Comida bien espesa</td>
          </tr>
          <tr>
            <td valign="top">MENTECATO</td>
            <td valign="top">Persona mentiroso</td>
          </tr>
          <tr>
            <td valign="top">MISHO</td>
            <td valign="top">Gato</td>
          </tr>
          <tr>
            <td valign="top">MITAYO</td>
            <td valign="top">Carne de monte</td>
          </tr>
          <tr>
            <td valign="top">MONTEAR</td>
            <td valign="top">
              Introducirse al&nbsp; bosque a cazar&nbsp; animales
            </td>
          </tr>
          <tr>
            <td valign="top">MOSANDERO</td>
            <td valign="top">Varón&nbsp; que tiene muchas enamoradas</td>
          </tr>
          <tr>
            <td valign="top">MOSHACO</td>
            <td valign="top">Que tiene varias chicas</td>
          </tr>
          <tr>
            <td valign="top">MOSHEAR</td>
            <td valign="top">Enamorar</td>
          </tr>

          <tr>
            <td valign="top">MUTISHCO</td>
            <td valign="top">De ojos azules</td>
          </tr>
          <tr>
            <td valign="top">MUYUNA</td>
            <td valign="top">Remolino</td>
          </tr>
          <tr>
            <td id="N" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>N</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">NINAKURO</td>
            <td valign="top">Luciérnaga</td>
          </tr>
          <tr>
            <td valign="top">NUVIEKUNA</td>
            <td valign="top">Novia nativa</td>
          </tr>
          <tr>
            <td valign="top">ÑAHUI</td>
            <td valign="top">Ojo</td>
          </tr>
          <tr>
            <td valign="top">ÑAHUINCHEAR</td>
            <td valign="top">Mirar, ver</td>
          </tr>
          <tr>
            <td valign="top">ÑAUMILLO</td>
            <td valign="top">Pestaña de los ojos</td>
          </tr>
          <tr>
            <td valign="top">ÑAUPA</td>
            <td valign="top">Antiguo pasado remoto</td>
          </tr>
          <tr>
            <td id="O" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>O</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">OCOTE</td>
            <td valign="top">Ano, culo, ojete</td>
          </tr>
          <tr>
            <td valign="top">OJETE</td>
            <td valign="top">Ano, trasero</td>
          </tr>
          <tr>
            <td id="P" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>P</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">PACUCHO</td>
            <td valign="top">De pelo rubio</td>
          </tr>
          <tr>
            <td valign="top">PAILA</td>
            <td valign="top">
              Bandeja de bronce utilizados por los trapicheros para hervir el
              jugo de azúcar para la elaboración de la chancaca
            </td>
          </tr>
          <tr>
            <td valign="top">PANDILLA</td>
            <td valign="top">Baile típico selvático (se baila saltando)</td>
          </tr>
          <tr>
            <td valign="top">PANDISHO</td>
            <td valign="top">Pan del árbol</td>
          </tr>
          <tr>
            <td valign="top">PANGUANA</td>
            <td valign="top">Ave sin cola</td>
          </tr>
          <tr>
            <td valign="top">PATACALA</td>
            <td valign="top">Sin zapatos</td>
          </tr>
          <tr>
            <td valign="top">PATE</td>
            <td valign="top">
              Recipiente de huingo&nbsp; que reemplaza al tazón
            </td>
          </tr>
          <tr>
            <td valign="top">PENDEJADA</td>
            <td valign="top">Palomillada&nbsp;</td>
          </tr>
          <tr>
            <td valign="top">PELOSAPA</td>
            <td valign="top">
              &nbsp;Dicese da la persona que tiene bastante pelo
            </td>
          </tr>
          <tr>
            <td valign="top">PENDEJO</td>
            <td valign="top">Palomilla , juguetón</td>
          </tr>
          <tr>
            <td valign="top">PERICOTE</td>
            <td valign="top">Ratón de monte</td>
          </tr>

          <tr>
            <td valign="top">PICACHEAR</td>
            <td valign="top">Chismear en detalle, cortar montaña.</td>
          </tr>
          <tr>
            <td valign="top">PICADILLO</td>
            <td valign="top">Plato típico de comidas&nbsp; de lamas</td>
          </tr>
          <tr>
            <td valign="top">PICHANGA</td>
            <td valign="top">Violación sexual por varios hombres</td>
          </tr>
          <tr>
            <td valign="top">PICHERO</td>
            <td valign="top">Hombre que le gusta mucho el sexo</td>
          </tr>
          <tr>
            <td valign="top">PICHO</td>
            <td valign="top">Vagina</td>
          </tr>
          <tr>
            <td valign="top">PICHOZAPA</td>
            <td valign="top">Mujer de vagina grande</td>
          </tr>
          <tr>
            <td valign="top">PILLO</td>
            <td valign="top">
              Tradicional danza nativa durante la fiesta tradicional de la santa
              rosa. Persona que porta el emblema
            </td>
          </tr>
          <tr>
            <td valign="top">PINDAYO</td>
            <td valign="top">
              Hombre o mujer&nbsp; vestido elegantemente&nbsp;
            </td>
          </tr>
          <tr>
            <td valign="top">PINGULLO</td>
            <td valign="top">Muslo</td>
          </tr>
          <tr>
            <td valign="top">PLATILLO</td>
            <td valign="top">Plato extendido de madera para hacer tacacho</td>
          </tr>
          <tr>
            <td valign="top">PONA</td>
            <td valign="top">
              Tallo de algunas palmeras silvestres&nbsp; que son
              utilizadas&nbsp; para circular viviendas rurales
            </td>
          </tr>
          <tr>
            <td valign="top">PONGUETE</td>
            <td valign="top">Pálido, amarillo, flaco</td>
          </tr>
          <tr>
            <td valign="top">POSHECO</td>
            <td valign="top">Persona anémica</td>
          </tr>
          <tr>
            <td valign="top">POSTEMA</td>
            <td valign="top">Herida&nbsp; con materia o supuración</td>
          </tr>
          <tr>
            <td valign="top">POTO</td>
            <td valign="top">
              recipiente&nbsp; hecho de calabaza&nbsp; o huingo que sirve para
              cargar agua
            </td>
          </tr>
          <tr>
            <td valign="top">POTOLOMO</td>
            <td valign="top">Jorobado</td>
          </tr>
          <tr>
            <td valign="top">POTOSHCO</td>
            <td valign="top">Persona&nbsp; encorvada</td>
          </tr>
          <tr>
            <td valign="top">POTOSHO</td>
            <td valign="top">Jorobado</td>
          </tr>
          <tr>
            <td valign="top">PUCA</td>
            <td valign="top">Colorado</td>
          </tr>
          <tr>
            <td valign="top">PUCACHO</td>
            <td valign="top">Colorado, nombre de un fundo agrícola</td>
          </tr>
          <tr>
            <td valign="top">PUCAKURO</td>
            <td valign="top">
              Variedad de hormiga pequeña de color anaranjado, de picadura muy
              dolorosa
            </td>
          </tr>
          <tr>
            <td valign="top">PUCALOMERO</td>
            <td valign="top">Adicto al trago</td>
          </tr>
          <tr>
            <td valign="top">PUCHA</td>
            <td valign="top">Olvido, pesar</td>
          </tr>
          <tr>
            <td valign="top">PUCHITO</td>
            <td valign="top">Colilla de cigarra; ultimo de algo</td>
          </tr>
          <tr>
            <td valign="top">PUPO</td>
            <td valign="top">Ombligo</td>
          </tr>
          <tr>
            <td valign="top">PUPOSAPA</td>
            <td valign="top">
              Dicese de la persona que tiene el ombligo pronunciado
            </td>
          </tr>
          <tr>
            <td valign="top">PURGA</td>
            <td valign="top">Medicina vegetal hecha a base de alucinógenos</td>
          </tr>
          <tr>
            <td valign="top">PUSUC PUSUC</td>
            <td valign="top">Masato espumeante</td>
          </tr>
          <tr>
            <td id="Q" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>Q</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">QUICHA</td>
            <td valign="top">Diarrea</td>
          </tr>
          <tr>
            <td valign="top">QUICHATERO</td>
            <td valign="top">Persona que sufre de diarrea</td>
          </tr>
          <tr>
            <td valign="top">QUILLAIPERO</td>
            <td valign="top">
              Hombre que le gusta hacer relaciones contranatura.
            </td>
          </tr>
          <tr>
            <td valign="top">QUILLUASHCA</td>
            <td valign="top">Plátano&nbsp; pinton asado al carbón</td>
          </tr>
          <tr>
            <td valign="top">QUIRUMA</td>
            <td valign="top">Trozo seco de un árbol en un sitio original</td>
          </tr>
          <tr>
            <td valign="top">QUIRUSAPA</td>
            <td valign="top">Muelón , risueño alegre</td>
          </tr>
          <tr>
            <td valign="top">QUISHA</td>
            <td valign="top">Nido de Gallina</td>
          </tr>
          <tr>
            <td valign="top">QUISHICHO</td>
            <td valign="top">Cachorro</td>
          </tr>
          <tr>
            <td valign="top">QUISICHO</td>
            <td valign="top">Perro cachorro</td>
          </tr>
          <tr>
            <td id="R" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>R</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">RACA</td>
            <td valign="top">Vagina, vulva</td>
          </tr>
          <tr>
            <td valign="top">RATANSHO</td>
            <td valign="top">Plátano&nbsp; gemelo</td>
          </tr>
          <tr>
            <td valign="top">RENACO</td>
            <td valign="top">
              Árbol&nbsp; aceitoso resistente al tiempo cuyo fruto sirven de
              alimento a las aves
            </td>
          </tr>
          <tr>
            <td valign="top">ROSQUETE</td>
            <td valign="top">
              Titila hecha a base&nbsp; de almidón y manteca, maricon
              .homosexual
            </td>
          </tr>
          <tr>
            <td id="S" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>S</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">SACHACUY</td>
            <td valign="top">Cuy silvestre</td>
          </tr>
          <tr>
            <td valign="top">SHAPAJA</td>
            <td valign="top">
              Palmera que produce un fruto con almendra&nbsp; en su
              interior,&nbsp; comestible para los selváticos.
            </td>
          </tr>
          <tr>
            <td valign="top">SHAPSHICO</td>
            <td valign="top">Demonio de monte(duende)</td>
          </tr>
          <tr>
            <td valign="top">SHEGUE</td>
            <td valign="top">Aguardiente de mala&nbsp; calidad, malo flojo</td>
          </tr>
          <tr>
            <td valign="top">SHEPLECO</td>
            <td valign="top">Maricon, flojo, desidioso</td>
          </tr>
          <tr>
            <td valign="top">SHERETE</td>
            <td valign="top">Mosho o enamorado (a) de alguien</td>
          </tr>
          <tr>
            <td valign="top">SHERETEAR</td>
            <td valign="top">Enamorar</td>
          </tr>
          <tr>
            <td valign="top">SHIATE</td>
            <td valign="top">Bebida</td>
          </tr>
          <tr>
            <td valign="top">SHICAPA</td>
            <td valign="top">
              Ave de color plomizo que viví&nbsp; en los agujeros de las paredes
              de las casa , ladrón
            </td>
          </tr>
          <tr>
            <td valign="top">SHICRA</td>
            <td valign="top">Bolsa, talega</td>
          </tr>
          <tr>
            <td valign="top">SHIRO SHIRO</td>
            <td valign="top">Avispa de picazón muy dolora</td>
          </tr>
          <tr>
            <td valign="top">SHONTOLON</td>
            <td valign="top">Homosexual, bengo, afeminado, chivo.</td>
          </tr>
          <tr>
            <td valign="top">SHOO</td>
            <td valign="top">Retirar aves de corral</td>
          </tr>
          <tr>
            <td valign="top">SHUNTEAR</td>
            <td valign="top">Convivir sin casarse.</td>
          </tr>
          <tr>
            <td valign="top">SINGA</td>
            <td valign="top">Nariz</td>
          </tr>
          <tr>
            <td valign="top">SINGON</td>
            <td valign="top">Narizón</td>
          </tr>
          <tr>
            <td valign="top">SISO</td>
            <td valign="top">Sarna, comezón</td>
          </tr>
          <tr>
            <td valign="top">SISURRO</td>
            <td valign="top">Sarnoso</td>
          </tr>
          <tr>
            <td valign="top">SORRAPA</td>
            <td valign="top">
              Es la materia acumulada en las orillas de los ríos, formados&nbsp;
              por hojas, palos en&nbsp; descomposición
            </td>
          </tr>
          <tr>
            <td valign="top">SURI</td>
            <td valign="top">
              Larva comestible de molotoa que se encuentra en alguna palmera
              caída
            </td>
          </tr>
          <tr>
            <td id="T" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>T</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">TABLA SIQUI</td>
            <td valign="top">Mujer de nalgas planas</td>
          </tr>
          <tr>
            <td valign="top">TANGARANA</td>
            <td valign="top">
              Árbol de tallo alto y delgado que es utilizado&nbsp; como sostén
              de vaciado de saca de material noble
            </td>
          </tr>
          <tr>
            <td valign="top">TALEGA</td>
            <td valign="top">Bolsa hecho de tela , testículos</td>
          </tr>
          <tr>
            <td valign="top">TAMBO</td>
            <td valign="top">Casa de campo</td>
          </tr>
          <tr>
            <td valign="top">TANCANA</td>
            <td valign="top">Madera redonda para impulsar la canoa</td>
          </tr>
          <tr>
            <td valign="top">TANGANA</td>
            <td valign="top">Botador de canoa</td>
          </tr>
          <tr>
            <td valign="top">TAPISHO</td>
            <td valign="top">Taperivá</td>
          </tr>
          <tr>
            <td valign="top">TARIMA</td>
            <td valign="top">Cama de pona&nbsp; batida</td>
          </tr>
          <tr>
            <td valign="top">TIESTO</td>
            <td valign="top">Plato o&nbsp; vasija de arcilla</td>
          </tr>
          <tr>
            <td valign="top">TINAJA</td>
            <td valign="top">
              Cántaro o&nbsp; recipiente de arcilla&nbsp; se utilaza para
              transportar&nbsp; o guardar agua
            </td>
          </tr>
          <tr>
            <td valign="top">TINAJON</td>
            <td valign="top">Cántaro&nbsp; grande&nbsp; de arcilla</td>
          </tr>
          <tr>
            <td valign="top">TINBUCHI</td>
            <td valign="top">Caldo de pescado fresco</td>
          </tr>
          <tr>
            <td valign="top">TIPISHITO</td>
            <td valign="top">Cosa pequeña</td>
          </tr>
          <tr>
            <td valign="top">TIRAJE</td>
            <td valign="top">
              Acción de jalar una&nbsp; canoa con la fuerza bruta
            </td>
          </tr>
          <tr>
            <td valign="top">TISHUMA</td>
            <td valign="top">Cabello despeinado</td>
          </tr>
          <tr>
            <td valign="top">TIZON</td>
            <td valign="top">Leña que esta quemando</td>
          </tr>
          <tr>
            <td valign="top">TONGORO</td>
            <td valign="top">Garganta</td>
          </tr>
          <tr>
            <td valign="top">TRAGO</td>
            <td valign="top">Aguardiente</td>
          </tr>
          <tr>
            <td valign="top">TRAGO HUICSA</td>
            <td valign="top">Persona que le gusta tomar aguardiente</td>
          </tr>
          <tr>
            <td valign="top">TROCHEAR</td>
            <td valign="top">Hacer un camino rustico&nbsp; en el bosque</td>
          </tr>
          <tr>
            <td valign="top">TULLPA</td>
            <td valign="top">Cocina de piedras a leña</td>
          </tr>
          <tr>
            <td valign="top">TUNCHI</td>
            <td valign="top">Alma en Pena</td>
          </tr>
          <tr>
            <td id="U" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>U</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">UCHINA</td>
            <td valign="top">
              Parte seca que cubre el racimo de la shapaja, y es utilizado como
              tea ardiente que ahuyenta a los mosquitos en el rio.
            </td>
          </tr>
          <tr>
            <td valign="top">UCHU</td>
            <td valign="top">Aji</td>
          </tr>
          <tr>
            <td valign="top">UCHUTERO</td>
            <td valign="top">Ajicero que come mucho ají</td>
          </tr>
          <tr>
            <td valign="top">UCHUYACU</td>
            <td valign="top">
              Ají preparado con caldo de plátano y su pescadito fresco machacado
              con sal a gusto
            </td>
          </tr>
          <tr>
            <td valign="top">UMALLINA</td>
            <td valign="top">
              Trapo arroscado que utiliza las mujeres en la cabeza para cargar
              tinajas, etc.
            </td>
          </tr>
          <tr>
            <td valign="top">UNTO</td>
            <td valign="top">
              Tocino mezclado con aguardiente macerado que sirve para aliviar
              dolores musculares.
            </td>
          </tr>
          <tr>
            <td valign="top">UPA</td>
            <td valign="top">Tonto, torpe, etc</td>
          </tr>
          <tr>
            <td valign="top">UPATON</td>
            <td valign="top">Sordo, sonsonazo, tonto</td>
          </tr>
          <tr>
            <td valign="top">UPE</td>
            <td valign="top">
              Panatela de maíz y&nbsp; maní tostado. Bebida típica en las
              veladas.
            </td>
          </tr>
          <tr>
            <td id="W" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>W</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">WAMBRILLA</td>
            <td valign="top">Mujer de tierna edad</td>
          </tr>
          <tr>
            <td id="Y" colspan="2" width="547" valign="top">
              &nbsp;
              <p></p>
              <p><strong>Y</strong></p>
            </td>
          </tr>
          <tr>
            <td valign="top">YACHAY</td>
            <td valign="top">Animas, ángel de la guarda de los brujos</td>
          </tr>
          <tr>
            <td valign="top">YACU</td>
            <td valign="top">Agua</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
