<!-- PARA QUE PUEDA HEREDAR DE LA CLASE PADRE BASE -->
{% extends 'core/base.html' %}
<!-- QUE CARGUE TODO LO QUE HAY EN LA CARPETA STATIC -->
{% load static %}
<!-- PONEMOS TODO NUESTRO CONTENIDO DENTRO DEL CODIGO block PARA Q SE AGREGE ESTRUCTURALMENTE A LA CLASE BASE-->
{% block content %}
<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
  <div class="row">
    <div class="owl-carousel owl-theme">
      <div class="item item-first">
        <div class="caption">
          <div class="container">
            <div class="col-md-8 col-sm-12">
              <h3>Bienvenido a Pucallpá</h3>
              <h1>La Tierra colorada</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-second">
        <div class="caption">
          <div class="container">
            <div class="col-md-8 col-sm-12">
              <h3>Respira naturaleza</h3>
              <h1>Maravillate de su hermosos paisajes!</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="item item-third">
        <div class="caption">
          <div class="container">
            <div class="col-md-8 col-sm-12">
              <h3>Identificate con la naturaleza</h3>
              <h1>Vive la mejor experiencia, con sus mejores atardeceres</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "Clima/clima.html" %}
<!-- HISTORY ANTIGUA -->
<section id="Hist-antigua" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="H-antigua-info">
          <!--Historia antigua info-->
          <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
            <h4>Breve Historia</h4>
            <h2></h2>
          </div>
          <!--Parrafos-->
          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <p>
              Pucallpa (shipibo: May Ushin, «Tierra roja») es una ciudad peruana
              capital del distrito de Callería y a la vez de la provincia de
              Coronel Portillo y del departamento de Ucayali.
            </p>
            <p>
              Esta categorizada como la única ciudad en el departamento de
              Ucayali siendo el mayor centro poblado del departamento.
            </p>
            <p>
              <a href="{% url 'about-pucallpa' %}" target="_parent">VER MAS</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="team-thumb wow fadeInUp about-image" data-wow-delay="0.6s">
          <img
            src="{% static 'webpage/images/historyPucallpa/jungla.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Laguna la Restinga</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- tipos de servicios -->
<!-- Plan Personal -->
<section id="team" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h2>SERVICIOS</h2>
          <h4>escoge la mejor opcion de explorar Pucallpa</h4>
          <h3>PLAN PERSONAL</h3>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
          <img
            src="{% static 'webpage/images/Restinga.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Plaza de armas de Pucallpá</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>Restinga Yarinacocha</h3>
          <p>una plaza maravillosa donde puede pasear</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
          <img
            src="{% static 'webpage/images/SanJose.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Recreo turistico la jungla</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>San Jose</h3>
          <p>conoce este bello paisaje</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
          <img
            src="{% static 'webpage/images/PlazaArmasP.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Discoteca nopturna el "Bellaqueo"</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>Plaza de Armas</h3>
          <p>este bello parte que debes conocer</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Plan 2 personas -->
<section id="team" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h3>PLAN DE 2 PERSONAS</h3>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
          <img
            src="{% static 'webpage/images/relojPublico.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Plaza de armas de Pucallpá</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>plaza del reloj</h3>
          <p>una plaza maravillosa donde puede pasear</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
          <img
            src="{% static 'webpage/images/laguna_Yarina.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Recreo turistico la jungla</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>Laguna de Yarinacocha</h3>
          <p>esta hermosa laguna donde puedes tomar fotitos</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
          <img
            src="{% static 'webpage/images/parque_lupuna.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Discoteca nopturna el "Bellaqueo"</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>Parque la Lupuna</h3>
          <p>un parque donde podemos pasear esta maravilloso lugar</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Plan de 4 personas -->

<section id="team" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h3>Plan de 4 personas"</h3>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
          <img
            src="{% static 'webpage/images/dia-plaza.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Plaza de armas de Pucallpá</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>Plaza de armas de Pucallpa</h3>
          <h5>una plaza maravillosa donde puede pasear</h5>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
          <img
            src="{% static 'webpage/images/tarde-aventura.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Recreo turistico la jungla</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>IN THE AFTERNOON</h3>
          <p>Welcome</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
          <img
            src="{% static 'webpage/images/noche-discoteca.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Discoteca nopturna el "Bellaqueo"</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>IN THE NIGHT</h3>
          <p>Welcome</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- GALERIA -->
<section id="team" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h2>MINIGUIA</h2>
          <h4>The best of the best De Pucallpa</h4>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
          <img
            src="{% static 'webpage/images/dia-plaza.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Plaza de armas de Pucallpá</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>ON THE DAY</h3>
          <p>Welcome</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
          <img
            src="{% static 'webpage/images/tarde-aventura.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Recreo turistico la jungla</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>IN THE AFTERNOON</h3>
          <p>Welcome</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
          <img
            src="{% static 'webpage/images/noche-discoteca.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="team-hover">
            <div class="team-item">
              <h4>Discoteca nopturna el "Bellaqueo"</h4>
            </div>
          </div>
        </div>
        <div class="team-info">
          <h3>IN THE NIGHT</h3>
          <p>Welcome</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- MENU-->
<section id="menu" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h2>GALERÍA DE DESTINOS</h2>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/Arte.jpg' %}"
            class="image-popup"
            title="American Breakfast"
          >
            <img
              src="{% static 'webpage/images/galeria/Arte.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>Arte y cultura</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/galeria8.jpg' %}"
            class="image-popup"
            title="Self-made Salad"
          >
            <img
              src="{% static 'webpage/images/galeria/galeria8.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>Laguna Yarinacocha</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/paisaje-lupuna.jpg' %}"
            class="image-popup"
            title="Chinese Noodle"
          >
            <img
              src="{% static 'webpage/images/galeria/paisaje-lupuna.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>Parque la lupuna</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/turismo-Boa.jpg' %}"
            class="image-popup"
            title="Rice Soup"
          >
            <img
              src="{% static 'webpage/images/galeria/turismo-Boa.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>La jungla</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/arte-pintura.jpg' %}"
            class="image-popup"
            title="Project title"
          >
            <img
              src="{% static 'webpage/images/galeria/arte-pintura.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>Arte y cultura</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/relojPublico.jpg' %}"
            class="image-popup"
            title="Project title"
          >
            <img
              src="{% static 'webpage/images/galeria/relojPublico.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>Reloj Publico</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/bebidas-masato.jpg' %}"
            class="image-popup"
            title="Project title"
          >
            <img
              src="{% static 'webpage/images/galeria/bebidas-masato.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>Bebida - Masato</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/comida-Juane.jpg' %}"
            class="image-popup"
            title="Project title"
          >
            <img
              src="{% static 'webpage/images/galeria/comida-Juane.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>El rico juane</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- MENU THUMB -->
        <div class="menu-thumb">
          <a
            href="{% static 'webpage/images/galeria/comida-Pescado.jpg' %}"
            class="image-popup"
            title="Project title"
          >
            <img
              src="{% static 'webpage/images/galeria/comida-Pescado.jpg' %}"
              class="img-responsive"
              alt=""
            />

            <div class="menu-info">
              <div class="menu-item">
                <h3>Patarashca</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--      Por que elegir nuestros servicios-->
<section
  class="section section-lg bg-gray-lighter novi-background bg-cover text-center"
>
  <div class="valores-services container container-wide">
    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
      <h2>Porque elegir Astral Tours</h2>
    </div>

    <div class="divider divider-decorate"></div>
    <div class="row row-50 justify-content-sm-center text-left">
      <div
        class="col-sm-10 col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <article class="box-minimal box-minimal-border">
          <div class="iconos-services">
            <i class="fa-solid fa-shield-halved"></i>
          </div>

          <p class="big box-minimal-title">RESERVE CON CONFIANZA</p>
          <hr />
          <div class="box-minimal-text text-spacing-sm">
            <p>
              Planifica tus recorridos sin riesgos con el seguro de cancelación
              de Here Pucallpá.
            </p>
          </div>
        </article>
      </div>
      <div
        class="col-sm-10 col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <article class="box-minimal box-minimal-border">
          <div class="iconos-services">
            <i class="fa-solid fa-person-hiking"></i>
          </div>
          <p class="big box-minimal-title">GUIAS DE CONFIANZA</p>
          <hr />
          <div class="box-minimal-text text-spacing-sm">
            <p>
              Here Pucallpa cuenta con expertos locales apasionados que conocen
              nuestros destinos a la perfección.
            </p>
          </div>
        </article>
      </div>
      <div
        class="col-sm-10 col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <article class="box-minimal box-minimal-border">
          <div class="iconos-services">
            <i class="fa-solid fa-heart-circle-bolt"></i>
          </div>
          <p class="big box-minimal-title">EXCELENTES CRÍTICAS</p>
          <hr />
          <div class="box-minimal-text text-spacing-sm">
            <p>
              El 97% de nuestros viajeros dicen que nos recomendarían a amigos y
              familiares.
            </p>
          </div>
        </article>
      </div>
      <div
        class="col-sm-10 col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <article class="box-minimal box-minimal-border">
          <div class="iconos-services">
            <i class="fa-solid fa-hands-holding-circle"></i>
          </div>
          <p class="big box-minimal-title">ESTAS EN BUENAS MANOS</p>
          <hr />
          <div class="box-minimal-text text-spacing-sm">
            <p>
              Nuestra línea de ayuda 24/7 significa que estamos a solo una
              llamada de distancia.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- NUESTROS GUIAS-->
<section class="section section-lg text-center novi-background bg-cover">
  <div class="container container-wide wow fadeInUp" data-wow-delay="0.1s">
    <h3>NUESTROS GUIAS</h3>
    <div class="divider divider-decorate"></div>
    <div
      class="row row-50 row-xxl-90 justify-content-sm-center offset-custom-2"
    >
      <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-classic team-classic-circle">
          <figure>
            <img
              class="rounded-circle"
              src="https://www.tasadeparo.com/wp-content/uploads/2010/03/mujertrabajo.jpg"
              alt=""
              width="300"
              height="300"
            />
          </figure>
          <div class="team-classic-caption">
            <h5><a class="team-classic-title" href="#">Jessica Valles</a></h5>
            <p class="team-classic-job-position">Guia especializada , 25 años</p>
            <ul class="list-inline list-team">
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin"
                  href="#"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-classic team-classic-circle">
          <figure>
            <img
              class="rounded-circle"
              src="https://orientacion-laboral.infojobs.net/wp-content/uploads/2017/11/9-si-foto-cv.png"
              alt=""
              width="300"
              height="300"
            />
          </figure>
          <div class="team-classic-caption">
            <h5><a class="team-classic-title" href="#">Ricardo Moran</a></h5>
            <p class="team-classic-job-position">Guia especializado, 28 años</p>
            <ul class="list-inline list-team">
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin"
                  href="#"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-classic team-classic-circle">
          <figure>
            <img
              class="rounded-circle"
              src="https://economia3.com/wp-content/uploads/2019/12/Natalia-Juarranz-EQUIPO-HUMANO.jpg"
              alt=""
              width="300"
              height="300"
            />
          </figure>
          <div class="team-classic-caption">
            <h5><a class="team-classic-title" href="#">Jazmin Ojeda</a></h5>
            <p class="team-classic-job-position">Guia especializada , 29 años</p>
            <ul class="list-inline list-team">
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin"
                  href="#"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-classic team-classic-circle">
          <figure>
            <img
              class="rounded-circle"
              src="https://www.wearetesters.com/wp-content/uploads/2018/05/franciele-cunha-596996-unsplash-1-1080x675.jpg"
              alt=""
              width="300"
              height="300"
            />
          </figure>
          <div class="team-classic-caption">
            <h5><a class="team-classic-title" href="#">Alexa Perez</a></h5>
            <p class="team-classic-job-position">Guia Especializada, 26 años</p>
            <ul class="list-inline list-team">
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus"
                  href="#"
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin"
                  href="#"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section section-lg text-center bg-gray-lighter novi-background bg-cover"
>
  <div class="container container-bigger wow fadeInUp" data-wow-delay="0.1s">
    <h3>OPINIONES DE NUESTROS CLIENTES</h3>
    <div class=""></div>
    <!-- Owl Carousel-->
    <div>
      <article class="quote-boxed wow fadeInUp" data-wow-delay="0.2s">
        <div class="quote-boxed-aside">
          <img
            class="quote-boxed-image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIAweIhvK0_iNk0g_fjAHv7owB1yiTn7xcfQ&usqp=CAU"

          />
        </div>
        <div class="quote-boxed-main">

          <div class="quote-boxed-meta">
            <p class="quote-boxed-cite">juan3100</p>
            <p class="quote-boxed-small">me gusto mucho guia muy interactivo..😇</p>
          </div>
        </div>
      </article>
      <article class="quote-boxed wow fadeInUp" data-wow-delay="0.2s">
        <div class="quote-boxed-aside">
          <img
            class="quote-boxed-image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIAweIhvK0_iNk0g_fjAHv7owB1yiTn7xcfQ&usqp=CAU"

          />
        </div>
        <div class="quote-boxed-main">
          <div class="quote-boxed-meta">
            <p class="quote-boxed-cite">percy124K</p>
            <p class="quote-boxed-small">buen servicio estoy satisfecho muy recomendado</p>
          </div>
        </div>
      </article>
      <article class="quote-boxed wow fadeInUp" data-wow-delay="0.2s">
        <div class="quote-boxed-aside">
          <img
            class="quote-boxed-image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIAweIhvK0_iNk0g_fjAHv7owB1yiTn7xcfQ&usqp=CAU"

          />
        </div>
        <div class="quote-boxed-main">
          <div class="quote-boxed-meta">
            <p class="quote-boxed-cite">juanPerez31</p>
            <p class="quote-boxed-small">es la primera vez que veo esta pagina, y mi primer servicio pude conocer lugares de la ciudad de pucallpa😄😄💪</p>
          </div>
        </div>
      </article>
      <article class="quote-boxed wow fadeInUp" data-wow-delay="0.2s">
        <div class="quote-boxed-aside">
          <img
            class="quote-boxed-image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIAweIhvK0_iNk0g_fjAHv7owB1yiTn7xcfQ&usqp=CAU"

          />
        </div>
        <div class="quote-boxed-main">
          <div class="quote-boxed-meta">
            <p class="quote-boxed-cite">nicole@@@12</p>
            <p class="quote-boxed-small">pude conocer san jose con mi pareja agradezco al guia por su buenos animos😊</p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <!-- desarrolladores -->
  <section class="section section-lg text-center novi-background bg-cover">
    <div class="container container-wide wow fadeInUp" data-wow-delay="0.1s">
      <h3>Programadores</h3>
      <div class="divider divider-decorate"></div>
      <div
        class="row row-50 row-xxl-90 justify-content-sm-center offset-custom-2"
      >
        <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
          <div class="team-classic team-classic-circle">
            <figure>
              <img
                class="rounded-circle"
                src="{% static 'webpage/images/ingenieros/noe.jpg' %}"
                alt=""
                width="300"
                height="300"
              />
            </figure>
            <div class="team-classic-caption">
              <h5><a class="team-classic-title" href="https://www.facebook.com/noe.ok.52">Noe, Perez Valles</a></h5>
              <p class="team-classic-job-position">ingeniero de software , 20 años desarrollo de front_end y backend etc.</p>
              <ul class="list-inline list-team">
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook"
                    href="#"
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter"
                    href="#"
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram"
                    href="#"
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus"
                    href="#"
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin"
                    href="#"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
          <div class="team-classic team-classic-circle">
            <figure>
              <img
                class="rounded-circle"
                src="{% static 'webpage/images/ingenieros/jose.jpg' %}"
                alt=""
                width="300"
                height="300"
              />
            </figure>
            <div class="team-classic-caption">
              <h5><a class="team-classic-title" href="https://www.facebook.com/profile.php?id=100008254265942">jose david ,del aguila espiritu</a></h5>
              <p class="team-classic-job-position">ingeniero de software , 20 años ,desarrollo de front-end y backend etc.</p>
              <ul class="list-inline list-team">
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook"
                    href=""
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter"
                    href="#"
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram"
                    href="#"
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus"
                    href="#"
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin"
                    href="#"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </section>
<!-- JERGA PUCALLPINA -->
<section id="jerga" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h2>JERGA PUCALLPINA</h2>
        </div>
      </div>

      <div
        class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="owl-carousel owl-theme">
          <div class="item">
            <p>No voten basura en Pucallpá no sean chambones</p>
            <div class="tst-author">
              <h4>"Chambon"</h4>
              <span>Persona que entorpese las cosas </span>
            </div>
          </div>

          <div class="item">
            <p>
              Mister te cuidaddo no vaya entrar en lugares peligrosos o lo
              pueden dejar calato.
            </p>
            <div class="tst-author">
              <h4>"Calato"</h4>
              <span>Desnudo, bebé o recién nacido.</span>
            </div>
          </div>

          <div class="item">
            <p>
              Despues de unas buenas aventuras por Pucallpá no quedarian mal una
              ricas chelas
            </p>
            <div class="tst-author">
              <h4>"Chelas"</h4>
              <span>Cerveza</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
