{% extends 'core/base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>
<br><br><br><br><br>
<section>
  <div class="container">
    <div class="form-feedback">
      <h3 class='alert alert-success'>¡Envíenos sus valiosos comentarios!</h3>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Nombres<span class="required">*</span></label>
          {% render_field feedbackForm.name class="form-control" %}
        </div>
        <div class="form-group">
          <label>Tu comentario <span class="required">*</span></label>
          <textarea class="form-control" rows="10" cols="50" {% render_field feedbackForm.feedback id="field5" %}>Escribe Aqui!!! </textarea>
        </div>
        <input type="submit" value="Send Feedback" />
      </form>
    </div>
  </div>
</section>

{% endblock  %}

  