{% extends 'core/base.html' %} {% load static %} {% block content %}

<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>
<section>
  <div class="success-page" style="top: auto">
    <img
      src="http://share.ashiknesin.com/green-checkmark.png"
      class="center"
      alt=""
    />
    <h2>Pago exitoso !</h2>
    <p>Nos complace informarle que recibimos sus pagos.</p>
    <a
      style="text-decoration: none"
      href="{% url 'my-order' %}"
      class="btn-view-orders"
      >Ver pedidos
    </a>
    <a style="text-decoration: none" href="/cliente-home">Seguir comprando</a>
  </div>
</section>
<br /><br /><br /><br />
<br /><br /><br /><br />
{% endblock content %}
