{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section id="banner" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>
<section>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color: #40d5d5;">
        <h6 style="text-align:center;" class="panel-title">My Cart</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Description</th>
            <th>Remove From Cart</th>
          </tr>
        </thead>

        {% for p in servicios %}
        {% if p %}
        <tr>
          <td> {{p.name}}</td>
          <td> <img src="{{p.place_image.url}}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{p.price}}</td>
          <td>{{p.description}}</td>
  
          <td><a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.id  %}"><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>
        {%else%}
        <br><br><br>
        <h1>no servicios</h1>
        {% endif %}
        {% endfor %}

        {% for p in packs %}
        {% if p %}
        <tr>
          <td> {{p.name}}</td>
          <td> <img src="{{pa.pack_image.url}}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{p.price}}</td>
          <td>{{p.description}}</td>
  
          <td><a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart-pack' p.id  %}"><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>
        {%else%}
        <br><br><br>
        <h1>no pack</h1>
        {% endif %}
        {% endfor %}
        

       

      </table>


    </div>
  </div>
  <br><br><br>
  <div style="text-align: center;">
    <button class="button button2">Total {{total}}</button>
    <a href="{% url 'cliente-address' %}"><button class="button" ><span>Purchase </span></button></a>
  </div>
</section>
<br><br><br><br><br>
{% endblock content %}
