{% load static %}
<!-- NUESTROS GUIAS-->
<section class="section section-lg text-center novi-background bg-cover">
  <div class="container container-wide wow fadeInUp" data-wow-delay="0.1s">
    <h3>NUESTROS GUIAS</h3>
    <div class="divider divider-decorate"></div>
    <div class="row row-50 row-xxl-90 justify-content-sm-center offset-custom-2">
      {% for g in guias2 %}
      <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-classic team-classic-circle">
          <figure>
            <img class="rounded-circle" src="{{g.picture.url}}" alt="" width="300"height="300"/>
          </figure>
          <div class="name-guia">
            <div class="team-classic-caption">
              <h5><a class="team-classic-title" href="#">{{g.name}}</a></h5>
              <p class="team-classic-job-position">Guia Profesional</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>