{% extends 'core/base.html' %} {% load static %} {% block content %}

<section id="banner" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>

<section>
  {%if servicios%}
  <section class="container">
    <div class="">
      <div class="row">
        {% for p in servicios %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div  class="servicio">
                <div><img class="img" src="{{p.place_image.url}}" alt="servicio pic"/></div>
                <div class="serv-conten">
                  <div class="name"><span>{{p.name}}</span></div>
                 
                  <div class="detail"><h5>Categoria: <span class="price-menor">{{p.place.category}}</span></h5></div>
                  <div class="price">
                    <div><h5>Price: {{p.price}} <span class="price-menor">/ Menores {{p.price_menor}}</span> </h5></div>
                  </div>
                  <div class="ver-detail"><a href="{% url 'detail' p.id  %} ">Ver detalles <i class="fa-solid fa-eye"></i></a></div>
                  <div class="add-cart" ><a href="{% url 'add-to-cart' p.id  %}">
                      <span class="">Add in cart</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      <!-- card1 end -->
          {% if forloop.counter|divisibleby:"4" %}
    </div>

    </div>

        {% endif %} 
      {% endfor %}
  </section>
    {%else%}
    <h3 style="text-align: center; color: yellow">No Search Found</h3>
  {%endif%}
  
<!-- NUESTROS GUIAS-->
<section>
  <div class="row">
    <div class=""></div>

  </div>
</section>

<section class="section section-lg text-center novi-background bg-cover">
  <div class="container container-wide wow fadeInUp" data-wow-delay="0.1s">
    <h3>NUESTROS GUIAS</h3>
    <div class="divider divider-decorate"></div>
    <div class="row row-50 row-xxl-90 justify-content-sm-center offset-custom-2">
      {% for g in guiass %}
      <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-classic team-classic-circle">
          <figure>
            <img class="rounded-circle" src="{{g.picture.url}}" alt="" width="300"height="300"/>
          </figure>
          <div class="name-guia">
            <div class="team-classic-caption">
              <p>{{g.decriptions}}</p>
              <h5 id="name-id-guia"><a class="team-classic-title" href="#">{{g.name}}</a></h5>
              <p class="team-classic-job-position">Guia Profesional</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}




