{% extends 'core/base.html' %} {% load static %} {% block content %}
<!-- Banner background -->
<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
  <div class="row">
    <div class="owl-carousel owl-theme">
      <div class="item item-first">
        <div class="caption">
          <div class="container">
            <div class="col-md-8 col-sm-12">
              <h3>Bienvenido a Pucallpá</h3>
              <h1>La Tierra colorada</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-second">
        <div class="caption">
          <div class="container">
            <div class="col-md-8 col-sm-12">
              <h3>Respira naturaleza</h3>
              <h1>Maravillate de su hermosos paisajes!</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="item item-third">
        <div class="caption">
          <div class="container">
            <div class="col-md-8 col-sm-12">
              <h3>Identificate con la naturaleza</h3>
              <h1>Vive la mejor experiencia, con sus mejores atardeceres</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Servicios -->
<section class="container">
  <div class="row">
    {% for planes in plan %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="{% url 'CategoriaServicio' planes.id%}">
            {{planes.nombre}}</a
          >
          <a href="{% url 'CategoriaServicio' planes.id%}"
            ><img class="card-img-top" src="{{planes.image.url}}" alt=""
          /></a>
          <p>{{planes.descripcion}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="container">
  <!-- Preguntas frecuentes-->
  <section>
    <div class="preguntas-frecuentes">
      <h2 class="title">Preguntas Frecuentes</h2>
      <div class="row">
        <div class="col-md-4">
          <a href="#dudas-sobre-tours"
            ><h5>Dudas mas frecuentes sobre tours</h5></a
          >
        </div>
        <div class="col-md-4">
          <a href="#reserva-pagos"><h5>Reserva y pagos</h5></a>
        </div>
        <div class="col-md-4">
          <a href="#cambio-devolucion"><h5>Cambio y devoluciones</h5></a>
        </div>
      </div>
    </div>

    <!--1-->
    <div id="dudas-sobre-tours">
      <div>
        <h2>Dudas mas frecuentes sobre tours</h2>
        <hr />
      </div>
      <!--1.1-->
      <div>
        <h3>1.- ¿Qué días se realizan las excursiones?</h3>
        <p>
          Dentro de cada tour encontrarás indicados los días y horarios
          disponibles para realizar las excursiones. Dentro de cada tour hay un
          calendario que te indica los días disponibles.
        </p>
      </div>
      <!--1.2-->
      <div>
        <h3>
          2.- Hice la reserva y realicé el pago ¿eso confirma la realización de
          la excursión?
        </h3>
        <p>
          Siempre que se realiza una reserva, debes esperar a recibir un email
          de confirmación y el voucher correspondiente a tu excursión. En
          algunos casos, puede aparecer la excursión disponible en nuestro
          calendario, pero puede suceder que alguien haya comprado la última
          plaza en cuestión de segundos mientras tú estabas terminando tu
          reserva. Si esto sucediera, te enviaremos un email de notificación,
          ofreciéndote un día alternativo, o bien, en el caso de que no te
          encaje, se te reintegrará el dinero abonado.
        </p>
      </div>
      <!--1.3-->
      <div>
        <h3>
          3.- ¿Qué pasa si llego tarde al punto de encuentro para realizar el
          tour?
        </h3>
        <p>
          Los tours regulares, generalmente, salen puntuales. Si tienes dudas
          puedes consultar al operador que realiza el tour, los datos de
          contacto figurarán en el voucher que te llega al email una vez
          finalizada la reserva.
        </p>
      </div>
    </div>
    <!--2-->
    <div id="reserva-pagos">
      <div>
        <h2>Reserva y pagos</h2>
        <hr />
      </div>
      <!--2.1-->
      <div>
        <h3>1.- ¿Con cuánta antelación se deben hacer las reservas?</h3>
        <p>
          El tiempo de antelación está especificado en el apartado de reservas
          de cada tour. En temporada alta (Semana Santa, vacaciones de verano o
          puentes) las plazas se agotan rápidamente, por lo que recomendamos
          hacer la reserva con la máxima antelación posible.
        </p>
      </div>
      <!--2.2-->
      <div>
        <h3>
          2.- ¿Es posible realizar una reserva y pagar el tour en el destino?
        </h3>
        <p>
          Para hacer efectiva la reserva de un tour es obligatorio dejar un
          depósito. Algunas actividades requieren un pago completo, mientras que
          otras sólo una parte para asegurar la reserva, y el resto se paga al
          guía en el destino.
        </p>
      </div>
      <!--2.3-->
      <div>
        <h3>3.- ¿Con qué método de pago se pueden efectuar las reservas?</h3>
        <p>
          Los pagos se pueden realizar con tarjeta de débito, tarjeta de crédito
          o PayPal.
        </p>
      </div>
    </div>
    <!--3-->
    <div id="cambio-devolucion">
      <div>
        <h2>Cambio y devoluciones</h2>
        <hr />
      </div>
      <!--3.1-->
      <div>
        <h3>
          1.- ¿Se puede modificar el día y la hora de los tours? ¿Cómo lo
          hacemos?
        </h3>
        <p>
          Si deseas modificar el día u horario de un tour que has reservado,
          debes avisar con antelación al servicio de atención al cliente
          indicado en el voucher recibido por email. Se deben especificar los
          datos de la reserva junto con las nuevas fechas y horario en que se
          desea realizar el tour. Deberás aguardar confirmación, si hay
          disponibilidad, se podrá realizar el cambio.
        </p>
      </div>
      <!--3.2-->
      <div>
        <h3>2.- ¿Cómo se realiza la cancelación de un tour?</h3>
        <p>
          Las cancelaciones se deben comunicar por email al servicio de atención
          al cliente indicado en el voucher recibido por email tras la compra.
          El tiempo de antelación necesario para la cancelación y devolución del
          dinero se especifica en el detalle de cada tour.
        </p>
      </div>
      <!--3.3-->
      <div>
        <h3>3.- Necesito contactar de manera urgente ¿cómo lo hago?</h3>
        <p>
          Siempre que tengas alguna urgencia o duda con respecto a un tour
          contratado, debes contactar con los datos enviados en tu voucher de
          compra. De todas formas, siempre puedes ponerte en contacto con
          nosotros a través del formulario de contacto, o bien, a nuestro email
          reservas@101viajes.com
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6">
        <div><h2>Contactenos</h2></div>
        <div>
          <p>
            Tanto si desea obtener más información sobre nuestros destinos como
            si desea personalizar un paquete, póngase en contacto con nosotros.
            Sea lo que sea que necesite, nuestro equipo de viajes estará
            encantado de ayudarle.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h2>section1</h2>
          </div>

          <div class="col-md-6">
            <h2>section2</h2>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        {% if "valido" in request.GET %}
        <P>iNFOR COMPLETE</P>
        {% else %}
          <p>NO SE PUDO HACER LO SIENTO PIENSA EN HACERTE EMPRESARIO</p>
        {% endif %}
        <div class="form-contacto">
          <form method="POST" action="">
            {% csrf_token %}
            <table>
              {{miFormulario.as_p}}

            </table>
            <button type="submit">Enviar</button>
            <input type="submit" value="Enviar">
            
          </form>
        </div>
      </div>
    </div>
  </section>
</section>

<!--section>
  <div>
  categorias:
  {% for planes in plan %}
  <a href="{% url 'CategoriaServicio' planes.id%}"> {{planes.nombre}}</a>
  {% endfor %}
  </div>
</section-->

<!-- JERGA PUCALLPINA -->
<section id="jerga" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <!-- Titulo -->
          <h2>JERGA PUCALLPINA</h2>
        </div>
      </div>

      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <!-- Frase 1 -->
            <p>No voten basura en Pucallpá no sean chambones</p>
            <div class="tst-author">
              <!-- Palabra pucallpina -->
              <h4>"Chambon"</h4>
              <!-- Significado -->
              <span>Persona que entorpese las cosas </span>
            </div>
          </div>

          <div class="item">
            <!-- Frase 2 -->
            <p>
              Mister te cuidaddo no vaya entrar en lugares peligrosos o lo
              pueden dejar calato.
            </p>
            <div class="tst-author">
              <!-- Palabra pucallpina -->
              <h4>"Calato"</h4>
              <!-- Significado -->
              <span>Desnudo, bebé o recién nacido.</span>
            </div>
          </div>

          <div class="item">
            <!-- Frase 3 -->
            <p>
              Despues de unas buenas aventuras por Pucallpá no quedarian mal una
              ricas chelas
            </p>
            <div class="tst-author">
              <!-- Palabra pucallpina -->
              <h4>"Chelas"</h4>
              <!-- Significado -->
              <span>Cerveza</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
