
{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<section id="banner2" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</section>

<br><br><br>
<section>
  <h3 style="color:blue;text-align:center;">¡Tus comentarios se enviaron con éxito!</h3>
  <br>
  <div style="text-align:center;"></div>
  <!--img src="{% static "images/success.png" %}"  style="width:100px; height:100px; "-->
</section>

<br><br><br><br><br><br><br><br>
{% endblock  %}
 

